In [1]:
##### combine transform notebooks

%run Country_Responses.ipynb ### new source JSON
%run HTML_parsing.ipynb ### new source HTML parsing
%run Mortality_rates.ipynb ### source CSV
%run Unemployment_Rates_MartoSep_2020.ipynb ### source CSV
%run Death_Counts-Copy1.ipynb ### source CSV

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
 <head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>
   Coronavirus Update (Live): 110,399,612 Cases and 2,439,008 Deaths from COVID-19 Virus Pandemic - Worldometer
  </title>
  <meta content="Live statistics and coronavirus news tracking the number of confirmed cases, recovered patients, tests, and death toll due to the COVID-19 coronavirus from Wuhan, China. Coronavirus counter with new cases, deaths, and number of tests per 1 Million population. Historical data and info. Daily charts, graphs, news and updates" name="description"/>
  <link href="/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <link href="/favicon/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57"/>
  <link href="/favicon/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60"/>
  <link href="/favicon/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"/>
  <link href="/favicon/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76"/>
  <link href="/favicon/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"/>
  <link href="/favicon/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120"/>
  <link href="/favicon/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144"/>
  <link href="/favicon/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152"/>
  <link href="/favicon/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180"/>
  <link href="/favicon/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png"/>
  <link href="/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
  <link href="/favicon/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png"/>
  <link href="/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
  <link href="/favicon/manifest.json" rel="manifest"/>
  <meta content="#ffffff" name="msapplication-TileColor"/>
  <meta content="/favicon/ms-icon-144x144.png" name="msapplication-TileImage"/>
  <meta content="#ffffff" name="theme-color"/>
  <meta content="http://www.worldometers.info/img/worldometers-fb.jpg" property="og:image">
   <link href="/css/bootstrap.min.css" rel="stylesheet"/>
   <link href="/wm16.css" rel="stylesheet"/>
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
   <script src="/js/jquery.min.js">
   </script>
   <script src="/js/bootstrap.min.js">
   </script>
   <script src="/js/ie10-viewport-bug-workaround.js">
   </script>
   <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript">
    </script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js" type="text/javascript">
    </script>
    <script class="init" type="text/javascript">
     $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example2').dataTable( {
        "scrollCollapse": true,
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
    </script>
    <script class="init" type="text/javascript">
     $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#table3').dataTable( {
        "scrollCollapse": true,
				 "order": [[ 1, 'desc' ]],
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
    </script>
    <script class="init" type="text/javascript">
     $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example').dataTable( {
        "scrollCollapse": true,
		"searching": false,

		"sDom": '<"top">rt<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
    </script>
    <script class="init" type="text/javascript">
     $(document).ready(function() {
	$('#popbycountry').dataTable();
} );
    </script>
    <script data-cfasync="false" type="text/javascript">
     var freestar = freestar || {};
  freestar.hitTime = Date.now();
  freestar.queue = freestar.queue || [];
  freestar.config = freestar.config || {};
  freestar.debug = window.location.search.indexOf('fsdebug') === -1 ? false : true;
  freestar.config.enabled_slots = [];
  !function(a,b){var c=b.getElementsByTagName("script")[0],d=b.createElement("script"),e="https://a.pub.network/worldometers-info";e+=freestar.debug?"/qa/pubfig.min.js":"/pubfig.min.js",d.async=!0,d.src=e,c.parentNode.insertBefore(d,c)}(window,document);
    </script>
   </link>
  </meta>
 </head>
 <body>
  <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1438574-2', 'auto');
  ga('send', 'pageview');
  </script>
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-1438574-30">
  </script>
  <script>
   window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1438574-30');
  </script>
  <link href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" rel="stylesheet" type="text/css">
   <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js">
   </script>
   <script>
    window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#efefef",
      "text": "#404040"
    },
    "button": {
      "background": "#8ec760",
      "text": "#ffffff"
    }
  },
  "theme": "classic",
  "content": {
    "href": "http://www.worldometers.info/policy/"
  }
})});
   </script>
   <style type="text/css">
    .style1 {
        color: #666666
    }
   </style>
   <div class="navbar navbar-default">
    <div class="container">
     <div class="navbar-header">
      <div class="logo">
       <a class="navbar-brand" href="/">
        <img border="0" src="/img/worldometers-logo.gif" title="Worldometer"/>
       </a>
      </div>
      <button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
       <span class="icon-bar">
       </span>
       <span class="icon-bar">
       </span>
       <span class="icon-bar">
       </span>
      </button>
     </div>
     <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
       <li>
        <a href="/coronavirus/">
         <span style="color:#FF9900; font-weight:bold">
          Coronavirus
         </span>
        </a>
       </li>
       <li>
        <a href="/population/">
         Population
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <div class="container">
    <div class="row">
     <div style="text-align:left; margin-bottom:10px">
      <script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
      </script>
      <ins class="adsbygoogle" data-ad-client="ca-pub-3701697624350410" data-ad-slot="3287840995" style="display:inline-block;width:970px;height:90px">
      </ins>
      <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
     </div>
    </div>
    <div class="row">
     <div class="col-md-8">
      <div class="content-inner">
       <style>
        .number-table {
        font-size: 20px;
        font-weight: bold
    }

    .number-table-main {
        font-size: 24px;
        font-weight: bold
    }
       </style>
       <script src="/js/highcharts.js">
       </script>
       <style type="text/css">
        <!--
    .source { }

    .style2 {
        color: #FF0000
    }

    .style4 {
        color: #FF0000;
        font-weight: bold;
    }

    .style6 {
        font-size: 12px;
        color: #bbb;
        font-weight: bold;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source11 {
        font-size: 12px;
        color: #bbb;
    }    .source111 {

    } .source1111 {
        font-size: 12px;
        color: #bbb;
    }



    -->
       </style>
       <div class="label-counter" id="page-top">
        COVID-19 Coronavirus Pandemic
       </div>
       <div style="font-size:13px; color:#999; margin-top:5px; text-align:center">
        Last updated: February 17, 2021, 23:24 GMT
       </div>
       <div style="margin-top:20px; text-align:center; font-size:14px">
        <a href="/coronavirus/coronavirus-cases/">
        </a>
        <a href="/coronavirus/worldwide-graphs/">
         Graphs
        </a>
        -
        <a href="#countries">
         Countries
        </a>
        -
        <a href="#news">
         News
        </a>
       </div>
       <div id="maincounter-wrap" style="margin-top:15px">
        <h1>
         Coronavirus Cases:
        </h1>
        <div class="maincounter-number">
         <span style="color:#aaa">
          110,399,612
         </span>
        </div>
       </div>
       <div style="text-align:center ">
        <a href="#countries">
         view by country
        </a>
       </div>
       <div id="maincounter-wrap" style="margin-top:15px">
        <h1>
         Deaths:
        </h1>
        <div class="maincounter-number">
         <span>
          2,439,008
         </span>
        </div>
       </div>
       <div id="maincounter-wrap" style="margin-top:15px;">
        <h1>
         Recovered:
        </h1>
        <div class="maincounter-number" style="color:#8ACA2B ">
         <span>
          85,295,352
         </span>
        </div>
       </div>
       <div style="margin-top:50px;">
       </div>
       <style>
        .panel_flip {
        position: relative;
        height: 100%;
    }

    .panel_front {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_back {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_flip.flip .panel_front {

        z-index: 900;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
    }

    .panel_flip.flip .panel_back {

        z-index: 1000;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
    }
       </style>
       <script>
        $(function() {

        $('.flip_cases_front').on('click', function() {


            $(this).parent().parent().addClass('flip');
        });

        $('.flip_cases_back').on('click', function() {


            $(this).parent().parent().removeClass('flip');
        });
    });
       </script>
       <div class="col-md-6">
        <div class="panel panel-default">
         <div class="panel-heading" style="text-align:center">
          <span class="panel-title" style="font-size:18px; text-transform:uppercase; font-weight:100">
           Active Cases
          </span>
         </div>
         <div class="panel-body" style="text-align:center; height:200px;">
          <div class="panel_flip">
           <div class="panel_front" style="width:100%;height:100%;">
            <div class="number-table-main">
             22,664,109
            </div>
            <div style="font-size:13.5px">
             Currently Infected Patients
            </div>
            <div style="padding-top:20px;position:relative;text-align:center; ">
             <div style="float:left; text-align:center">
              <span class="number-table" style="color:#8080FF">
               22,568,828
              </span>
              (
              <strong>
               99.6
              </strong>
              %)
              <div style="font-size:13px">
               in Mild Condition
              </div>
              <br/>
             </div>
             <div style="float:right; text-align:center">
              <span class="number-table" style="color:red ">
               96,424
              </span>
              (
              <strong>
               0.4
              </strong>
              %)
              <div style="font-size:13px">
               Serious or Critical
              </div>
              <br/>
             </div>
            </div>
            <a class="flip_cases_front" href="javascript: void(0);" style="clear: both;display: block;position:absolute;bottom:-8px;width:100%;">
             Show Graph
            </a>
           </div>
           <div class="panel_back" style="width:100%;height:100%;">
            <div id="total-currently-infected-linear">
            </div>
            <script type="text/javascript">
             Highcharts.setOptions({
        lang: {
            thousandsSep: ','
        }
    });

    var y_labels = ['0', '20,000', '40,000', '60,000', '140', '180', '200', '240'];
    Highcharts.chart('total-currently-infected-linear', {


        chart: {
            type: 'line',
            height: (9 / 16 * 100) + '%'
        },

        title: {
            text: null

        },

        /*subtitle: {
            text: '(Number of Infected People)'
        },*/

        xAxis: {

<ipython-input-1-23e1dcca6101>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Netherlands')]
<ipython-input-1-23e1dcca6101>:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Ecuador')]
<ipython-input-1-23e1dcca6101>:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Spain')]
<ipython-input-1-23e1dcca6101>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('France')]
<ipython-input-1-23e1dcca6101>:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Turkey')]
<ipython-input-1-23e1dcca6101>:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Indonesia')]
<ipython-input-1-23e1dcca6101>:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Russia')]
<ipython-input-1-23e1dcca6101>:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Brazil')]
<ipython-input-1-23e1dcca6101>:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Peru')]
<ipython-input-1-23e1dcca6101>:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Chile')]
<ipython-input-1-23e1dcca6101>:13: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Mexico')]
<ipython-input-1-23e1dcca6101>:14: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('UK')]
<ipython-input-1-23e1dcca6101>:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Belgium')]
<ipython-input-1-23e1dcca6101>:16: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Portugal')]
<ipython-input-1-23e1dcca6101>:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Denmark')]
<ipython-input-1-23e1dcca6101>:18: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Austria')]
<ipython-input-1-23e1dcca6101>:19: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Germany')]
<ipython-input-1-23e1dcca6101>:20: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Sweden')]
<ipython-input-1-23e1dcca6101>:21: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('South Africa')]
<ipython-input-1-23e1dcca6101>:22: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Norway')]
<ipython-input-1-23e1dcca6101>:23: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Israel')]
<ipython-input-1-23e1dcca6101>:24: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Iceland')]
<ipython-input-1-23e1dcca6101>:25: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Switzerland')]
<ipython-input-1-e89c40057390>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_US_df = clean_US_df[~clean_df["year"].str.contains('2014')]
<ipython-input-1-e89c40057390>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_US_df = clean_US_df[~clean_df["year"].str.contains('2015')]
<ipython-input-1-e89c40057390>:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_US_df = clean_US_df[~clean_df["year"].str.contains('2016')]
<ipython-input-1-e89c40057390>:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_US_df = clean_US_df[~clean_df["year"].str.contains('2017')]
<ipython-input-1-e89c40057390>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_US_df = clean_US_df[~clean_df["year"].str.contains('2018')]
<ipython-input-1-e89c40057390>:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_US_df = clean_US_df[~clean_df["year"].str.contains('2019')]

In [2]:
#HTML_parsing relevant dataframe 

#COVID Infection

world_data_4_df.head()

,id,Country,Total_Cases,Total_Deaths,Total_Recovered,Active_Cases,Total_Tests,Population
1,1,United States,28447540,502054,18584478,9361008,338688211,332225037
2,2,India,10949546,156038,10654706,138802,207977229,1388530816
3,3,Brazil,9979276,242178,8950450,786648,28600000,213510360
4,4,Russia,4112151,81446,3642582,388123,107500000,145973980
5,5,UK,4071185,118933,2282703,1669549,83527818,68110664

In [3]:
# Country_Responses.ipynb relevant dataframe 1
#Country

Country_df.tail(50)

                           Country
Code
PRI                    Puerto Rico
PRT                       Portugal
PRY                       Paraguay
PSE                      Palestine
QAT                          Qatar
ROU                        Romania
RUS                         Russia
RWA                         Rwanda
SAU                   Saudi Arabia
SDN                          Sudan
SEN                        Senegal
SGP                      Singapore
SLB                Solomon Islands
SLE                   Sierra Leone
SLV                    El Salvador
SMR                     San Marino
SOM                        Somalia
SRB                         Serbia
SSD                    South Sudan
SUR                       Suriname
SVK                       Slovakia
SVN                       Slovenia
SWE                         Sweden
SWZ                      Swaziland
SYC                     Seychelles
SYR                          Syria
TCA       Turks and Caicos Islands
TCD                           Chad
TGO                           Togo
THA                       Thailand
TJK                     Tajikistan
TLS                          Timor
TTO            Trinidad and Tobago
TUN                        Tunisia
TUR                         Turkey
TWN                         Taiwan
TZA                       Tanzania
UGA                         Uganda
UKR                        Ukraine
URY                        Uruguay
USA                  United States
UZB                     Uzbekistan
VEN                      Venezuela
VGB         British Virgin Islands
VNM                        Vietnam
OWID_KOS                    Kosovo
YEM                          Yemen
ZAF                   South Africa
ZMB                         Zambia
ZWE                       Zimbabwe

In [4]:
# Country_Responses.ipynb relevant dataframe 2

#Stringency

data_df= data_df.dropna()
data_df.tail(50)

,Country,Code,Start_Period,Start_Period_Stringency,End_Period,End_Period_Stringency
131,Puerto Rico,PRI,2020-03-28,93.52,2020-11-08,67.59
132,Portugal,PRT,2020-02-02,11.11,2020-11-05,62.96
133,Paraguay,PRY,2020-03-07,5.56,2020-10-29,64.81
134,Palestine,PSE,2020-03-06,74.07,2020-11-10,40.74
135,Qatar,QAT,2020-01-01,0.00,2020-11-09,64.81
136,Romania,ROU,2020-01-01,0.00,2020-11-08,54.63
137,Russia,RUS,2020-01-01,0.00,2020-11-09,44.91
138,Rwanda,RWA,2020-03-15,30.09,2020-11-09,69.44
139,Saudi Arabia,SAU,2020-03-02,11.11,2020-10-29,57.41
140,Sudan,SDN,2020-03-14,45.37,2020-11-07,32.41
141,Senegal,SEN,2020-02-28,0.00,2020-11-02,37.96
142,Singapore,SGP,2020-01-01,0.00,2020-11-02,52.78
143,Solomon Islands,SLB,2020-10-16,43.52,2020-11-07,43.52
144,Sierra Leone,SLE,2020-04-01,60.19,2020-11-03,31.48
145,El Salvador,SLV,2020-03-19,65.74,2020-10-29,52.78
146,San Marino,SMR,2020-01-01,0.00,2020-11-01,31.48
147,Somalia,SOM,2020-03-17,8.33,2020-11-07,37.96
148,Serbia,SRB,2020-02-26,13.89,2020-11-01,51.85
149,South Sudan,SSD,2020-04-06,73.15,2020-11-02,35.19
150,Suriname,SUR,2020-03-15,33.33,2020-11-08,68.52
151,Slovakia,SVK,2020-03-06,16.67,2020-10-29,75.00
152,Slovenia,SVN,2020-02-02,0.00,2020-11-04,68.52
153,Sweden,SWE,2020-01-01,0.00,2020-10-27,37.04
154,Swaziland,SWZ,2020-03-15,19.44,2020-10-28,48.15
155,Seychelles,SYC,2020-03-15,25.00,2020-10-30,31.48
156,Syria,SYR,2020-03-23,77.78,2020-11-09,34.72
157,Turks and Caicos Islands,TCA,2020-03-25,27.78,2020-09-01,53.70
158,Chad,TCD,2020-03-20,27.78,2020-11-09,66.67
159,Togo,TGO,2020-03-04,0.00,2020-10-27,52.78
160,Thailand,THA,2020-01-01,0.00,2020-11-02,43.52
161,Tajikistan,TJK,2020-05-01,46.30,2020-11-06,37.04
162,Timor,TLS,2020-03-22,13.89,2020-10-29,29.63
163,Trinidad and Tobago,TTO,2020-03-13,20.37,2020-11-01,77.78
164,Tunisia,TUN,2020-03-03,0.00,2020-11-02,75.00
165,Turkey,TUR,2020-03-12,23.15,2020-10-28,68.06
166,Taiwan,TWN,2020-01-01,2.78,2020-11-09,19.44
167,Tanzania,TZA,2020-03-17,32.41,2020-10-26,13.89
168,Uganda,UGA,2020-03-22,47.22,2020-11-08,57.41
169,Ukraine,UKR,2020-03-04,11.11,2020-10-26,58.80
170,Uruguay,URY,2020-03-15,51.85,2020-10-29,43.52
171,United States,USA,2020-01-01,0.00,2020-11-08,62.50
172,Uzbekistan,UZB,2020-03-16,60.19,2020-11-02,53.70
173,Venezuela,VEN,2020-03-15,51.85,2020-11-05,84.26
174,British Virgin Islands,VGB,2020-03-27,72.22,2020-09-01,68.52
175,Vietnam,VNM,2020-01-01,0.00,2020-11-02,51.85
176,Kosovo,OWID_KOS,2020-03-14,72.22,2020-11-07,60.19
177,Yemen,YEM,2020-04-10,40.74,2020-11-09,24.07
178,South Africa,ZAF,2020-02-07,2.78,2020-10-29,38.89
179,Zambia,ZMB,2020-03-19,16.67,2020-10-29,41.67
180,Zimbabwe,ZWE,2020-03-21,27.78,2020-10-29,71.30

In [5]:
# Mortality_rates.ipynb relevant dataframe

US_by_region_df.head()

             deaths expected_deaths excess_deaths        Country
Jurisdiction
Alaska           96              96             9  United States
Arizona        1938            1219            98  United States
Arkansas        759             676            97  United States
California     6252            5819           925  United States
Colorado        993             829            98  United States

In [6]:
# Unemployment_Rates_MartoSep_2020.ipynb relevant dataframe

Unemployment_Rates.tail(50)

           Date        Country  Unemployment Rate
185  2020-08-31         France           7.500000
186  2020-08-31        Germany           4.500000
187  2020-08-31        Hungary           4.400000
188  2020-08-31        Iceland           5.000000
189  2020-08-31        Ireland           5.200000
190  2020-08-31         Israel           4.868170
191  2020-08-31          Italy           9.700000
192  2020-08-31          Japan           3.000000
193  2020-08-31    South Korea           3.200000
194  2020-08-31         Latvia           8.800000
195  2020-08-31      Lithuania           9.600000
196  2020-08-31     Luxembourg           6.800000
197  2020-08-31         Mexico           4.967234
198  2020-08-31    Netherlands           4.600000
199  2020-08-31         Norway           5.300000
200  2020-08-31         Poland           3.100000
201  2020-08-31       Portugal           8.100000
202  2020-08-31       Slovakia           6.900000
203  2020-08-31       Slovenia           4.700000
204  2020-08-31          Spain          16.700000
205  2020-08-31         Sweden           9.100000
206  2020-08-31  United States           8.400000
207  2020-09-30      Australia           6.939229
208  2020-09-30        Austria           5.500000
209  2020-09-30        Belgium           5.200000
210  2020-09-30         Canada           9.000000
211  2020-09-30       Colombia          16.611720
212  2020-09-30        Czechia           2.800000
213  2020-09-30        Denmark           6.100000
214  2020-09-30        Finland           8.400000
215  2020-09-30         France           7.900000
216  2020-09-30        Germany           4.500000
217  2020-09-30        Iceland           5.600000
218  2020-09-30        Ireland           5.400000
219  2020-09-30         Israel           4.687041
220  2020-09-30          Italy           9.600000
221  2020-09-30          Japan           3.000000
222  2020-09-30    South Korea           3.900000
223  2020-09-30         Latvia           8.400000
224  2020-09-30      Lithuania           9.800000
225  2020-09-30     Luxembourg           6.700000
226  2020-09-30         Mexico           4.689714
227  2020-09-30    Netherlands           4.400000
228  2020-09-30         Poland           3.100000
229  2020-09-30       Portugal           7.700000
230  2020-09-30       Slovakia           6.800000
231  2020-09-30       Slovenia           4.700000
232  2020-09-30          Spain          16.500000
233  2020-09-30         Sweden           9.000000
234  2020-09-30  United States           7.900000

In [7]:
# Death_Counts.ipynb relevant dataframe

Influenza_table.head()
#####Influenza_table["Country"]= ###add the USA

,COVID-19_Deaths,Total_Deaths,Pneumonia_Influenza_Deaths,STATE,LATITUDE,LONGITUDE,NAME
Jurisdiction,,,,,,,
Alabama,3943.0,44469.0,3652.0,AL,32.318231,-86.902298,Alabama
Alaska,0.0,3174.0,0.0,AK,63.588753,-154.493062,Alaska
Arizona,5188.0,53617.0,5651.0,AZ,34.048928,-111.093731,Arizona
Arkansas,1615.0,26019.0,2321.0,AR,35.201050,-91.831833,Arkansas
California,16775.0,220012.0,22872.0,CA,36.778261,-119.417932,California

In [8]:
# Dependencies
import pymongo
import requests
import numpy

In [9]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [10]:
# Define database and collection

# Grabs list if databases in MondoDB
dblist = client.list_database_names()

# Checks if DB already exist, if not create it
if "covid_db" in dblist:
  print("The database covid_db already exists.")
else:
  db = client["covid_db"]
  print("DB covid_db created.")

db = client.covid_db


# Checks if Collection already exist, if not create it

col_list = db.list_collection_names()

if "stringency" in col_list:
  print("The collection stringency already exists.")
else:
  collection_stringency = db['stringency']
  print("Col Stringency created.")

if "excess_death" in col_list:
  print("The collection sexcess_death already exists.")
else:
  collection_xsdeath = db['excess_death']
  print("Col excess_death created.")

if "country" in col_list:
  print("The collection country already exists.")
else:
  collection_country = db['country']
  print("Col country created.")
  
if "covid_infection" in col_list:
  print("The collection covid_infection already exists.")
else:
  collection_covid_infection = db['covid_infection']
  print("Col covid_infection created.")

if "unemployment" in col_list:
  print("The collection unemployment already exists.")
else:
  collection_unemployment = db['unemployment']
  print("Col unemployment created.")

if "influenza" in col_list:
  print("The collection influenza already exists.")
else:
  collection_influenza = db['influenza']
  print("Col influenza created.")

#collection_stringency = db['stringency']
#collection_xsdeath = db['excess_death']
#collection_country = db['country']
#collection_covid_infection = db['covid_infection']
#collection_unemployment = db['unemployment']
#collection_influenza = db['influenza']

The database covid_db already exists.
Col Stringency created.
Col excess_death created.
Col country created.
Col covid_infection created.
Col unemployment created.
Col influenza created.

In [11]:
#Resetting all dataframes to no indexes

#DataFrame for Covid Infection Collection
world_data_4_df.reset_index(inplace=True) 

#DataFrame for Country Collection
Country_df.reset_index(inplace=True)

#DataFrame for Stringency Collection
data_df.reset_index(inplace=True)

#DataFrame for Excess Death Collection
US_by_region_df.reset_index(inplace=True)

#DataFrame for Unemployment Rate Collection
Unemployment_Rates.reset_index(inplace=True)

#DataFrame for Influenza Collection
Influenza_table.reset_index(inplace=True)

In [12]:
## Custom Class which confirms datatype is readable by MongoBD
# and if test fail, convert to readable variable


class CustomEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, numpy.integer):
            return int(obj)
        elif isinstance(obj, numpy.floating):
            return float(obj)
        elif isinstance(obj, numpy.ndarray):
            return obj.tolist()
        else:
            return super(CustomEncoder, self).default(obj)

In [13]:
#Covid Infection Collection        
world_data_dict=world_data_4_df.to_dict("records")
world_clean_json = json.dumps(world_data_dict,cls=CustomEncoder)
world_final  = json.loads(world_clean_json)

#Country Collection
country_data_dict=Country_df.to_dict("records") ###
country_clean_json = json.dumps(country_data_dict,cls=CustomEncoder)
country_final  = json.loads(country_clean_json)

#Stringency Collection
string_data_dict=data_df.to_dict("records")
string_clean_json = json.dumps(string_data_dict,cls=CustomEncoder)
string_final  = json.loads(string_clean_json)

#Excess Death Collection
xsdeath_data_dict=US_by_region_df.to_dict("records")
xsdeath_clean_json = json.dumps(xsdeath_data_dict,cls=CustomEncoder)
xsdeathfinal  = json.loads(xsdeath_clean_json)

#Unemployment Rate Collection
unemp_data_dict=Unemployment_Rates.to_dict("records")
unemp_clean_json = json.dumps(unemp_data_dict,cls=CustomEncoder)
unemp_final  = json.loads(unemp_clean_json)



#Influenza Collection
flu_data_dict=Influenza_table.to_dict("records")
flu_clean_json = json.dumps(flu_data_dict,cls=CustomEncoder)
flu_final  = json.loads(flu_clean_json)

In [14]:
#Empty Table if data exists
db.collection_stringency.remove( { } )
db.collection_xsdeath.remove( { } )
db.collection_country.remove( { } )
db.collection_covid_infection.remove( { } )
db.collection_unemployment.remove( { } )
db.collection_influenza.remove( { } )

<ipython-input-14-33458e7fe24c>:2: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.
  db.collection_stringency.remove( { } )
<ipython-input-14-33458e7fe24c>:3: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.
  db.collection_xsdeath.remove( { } )
<ipython-input-14-33458e7fe24c>:4: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.
  db.collection_country.remove( { } )
<ipython-input-14-33458e7fe24c>:5: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.
  db.collection_covid_infection.remove( { } )
<ipython-input-14-33458e7fe24c>:6: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.
  db.collection_unemployment.remove( { } )
<ipython-input-14-33458e7fe24c>:7: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.
  db.collection_influenza.remove( { } )

{'n': 52, 'ok': 1.0}

In [15]:
###push records to DB

db.collection_covid_infection.insert_many(world_final)
db.collection_country.insert_many(country_final)
db.collection_stringency.insert_many(string_final)
db.collection_xsdeath.insert_many(xsdeathfinal)
db.collection_unemployment.insert_many(unemp_final)
db.collection_influenza.insert_many(flu_final)

In [16]:
print(client.list_database_names())

['admin', 'classdb', 'classdb2', 'config', 'covid_db', 'fruits_db', 'fruits_db_test', 'local', 'travel2_db', 'travel_db']

In [17]:
# Display the MongoDB records created above
covid_infect = db.collection_covid_infection.find()

for record in covid_infect:
    print(record)

{'_id': ObjectId('602da5ec6ceea44dd6cdf165'), 'index': 1, 'id': 1, 'Country': 'United States', 'Total_Cases': 28447540, 'Total_Deaths': 502054, 'Total_Recovered': 18584478, 'Active_Cases': 9361008, 'Total_Tests': 338688211, 'Population': 332225037}
{'_id': ObjectId('602da5ec6ceea44dd6cdf166'), 'index': 2, 'id': 2, 'Country': 'India', 'Total_Cases': 10949546, 'Total_Deaths': 156038, 'Total_Recovered': 10654706, 'Active_Cases': 138802, 'Total_Tests': 207977229, 'Population': 1388530816}
{'_id': ObjectId('602da5ec6ceea44dd6cdf167'), 'index': 3, 'id': 3, 'Country': 'Brazil', 'Total_Cases': 9979276, 'Total_Deaths': 242178, 'Total_Recovered': 8950450, 'Active_Cases': 786648, 'Total_Tests': 28600000, 'Population': 213510360}
{'_id': ObjectId('602da5ec6ceea44dd6cdf168'), 'index': 4, 'id': 4, 'Country': 'Russia', 'Total_Cases': 4112151, 'Total_Deaths': 81446, 'Total_Recovered': 3642582, 'Active_Cases': 388123, 'Total_Tests': 107500000, 'Population': 145973980}
{'_id': ObjectId('602da5ec6ceea44dd6cdf169'), 'index': 5, 'id': 5, 'Country': 'UK', 'Total_Cases': 4071185, 'Total_Deaths': 118933, 'Total_Recovered': 2282703, 'Active_Cases': 1669549, 'Total_Tests': 83527818, 'Population': 68110664}
{'_id': ObjectId('602da5ec6ceea44dd6cdf16a'), 'index': 6, 'id': 6, 'Country': 'France', 'Total_Cases': 3514147, 'Total_Deaths': 83122, 'Total_Recovered': 245737, 'Active_Cases': 3185288, 'Total_Tests': 49251253, 'Population': 65364643}
{'_id': ObjectId('602da5ec6ceea44dd6cdf16b'), 'index': 7, 'id': 7, 'Country': 'Spain', 'Total_Cases': 3107172, 'Total_Deaths': 66316, 'Total_Recovered': 2411183, 'Active_Cases': 629673, 'Total_Tests': 37334915, 'Population': 46766215}
{'_id': ObjectId('602da5ec6ceea44dd6cdf16c'), 'index': 8, 'id': 8, 'Country': 'Italy', 'Total_Cases': 2751657, 'Total_Deaths': 94540, 'Total_Recovered': 2268253, 'Active_Cases': 388864, 'Total_Tests': 36916289, 'Population': 60405628}
{'_id': ObjectId('602da5ec6ceea44dd6cdf16d'), 'index': 9, 'id': 9, 'Country': 'Turkey', 'Total_Cases': 2609359, 'Total_Deaths': 27738, 'Total_Recovered': 2496833, 'Active_Cases': 84788, 'Total_Tests': 31866086, 'Population': 84909102}
{'_id': ObjectId('602da5ec6ceea44dd6cdf16e'), 'index': 10, 'id': 10, 'Country': 'Germany', 'Total_Cases': 2362352, 'Total_Deaths': 67074, 'Total_Recovered': 2154600, 'Active_Cases': 140678, 'Total_Tests': 41758675, 'Population': 83952892}
{'_id': ObjectId('602da5ec6ceea44dd6cdf16f'), 'index': 11, 'id': 11, 'Country': 'Colombia', 'Total_Cases': 2207701, 'Total_Deaths': 58134, 'Total_Recovered': 2099628, 'Active_Cases': 49939, 'Total_Tests': 10987643, 'Population': 51223565}
{'_id': ObjectId('602da5ec6ceea44dd6cdf170'), 'index': 12, 'id': 12, 'Country': 'Argentina', 'Total_Cases': 2039124, 'Total_Deaths': 50616, 'Total_Recovered': 1842878, 'Active_Cases': 145630, 'Total_Tests': 6947674, 'Population': 45456498}
{'_id': ObjectId('602da5ec6ceea44dd6cdf171'), 'index': 13, 'id': 13, 'Country': 'Mexico', 'Total_Cases': 2004575, 'Total_Deaths': 175986, 'Total_Recovered': 1563992, 'Active_Cases': 264597, 'Total_Tests': 5138262, 'Population': 129783734}
{'_id': ObjectId('602da5ec6ceea44dd6cdf172'), 'index': 14, 'id': 14, 'Country': 'Poland', 'Total_Cases': 1605372, 'Total_Deaths': 41308, 'Total_Recovered': 1354598, 'Active_Cases': 209466, 'Total_Tests': 9178403, 'Population': 37820414}
{'_id': ObjectId('602da5ec6ceea44dd6cdf173'), 'index': 15, 'id': 15, 'Country': 'Iran', 'Total_Cases': 1542076, 'Total_Deaths': 59184, 'Total_Recovered': 1317612, 'Active_Cases': 165280, 'Total_Tests': 10218318, 'Population': 84667452}
{'_id': ObjectId('602da5ec6ceea44dd6cdf174'), 'index': 16, 'id': 16, 'Country': 'South Africa', 'Total_Cases': 1496439, 'Total_Deaths': 48478, 'Total_Recovered': 1399829, 'Active_Cases': 48132, 'Total_Tests': 8772743, 'Population': 59777893}
{'_id': ObjectId('602da5ec6ceea44dd6cdf175'), 'index': 17, 'id': 17, 'Country': 'Ukraine', 'Total_Cases': 1280904, 'Total_Deaths': 24689, 'Total_Recovered': 1128890, 'Active_Cases': 127325, 'Total_Tests': 6570806, 'Population': 43567324}
{'_id': ObjectId('602da5ec6ceea44dd6cdf176'), 'index': 18, 'id': 18, 'Country': 'Peru', 'Total_Cases': 1244729, 'Total_Deaths': 44056, 'Total_Recovered': 1155956, 'Active_Cases': 44717, 'Total_Tests': 6993146, 'Population': 33259837}
{'_id': ObjectId('602da5ec6ceea44dd6cdf177'), 'index': 19, 'id': 19, 'Country': 'Indonesia', 'Total_Cases': 1243646, 'Total_Deaths': 33788, 'Total_Recovered': 1047676, 'Active_Cases': 162182, 'Total_Tests': 10115963, 'Population': 275340530}
{'_id': ObjectId('602da5ec6ceea44dd6cdf178'), 'index': 20, 'id': 20, 'Country': 'Czechia', 'Total_Cases': 1112322, 'Total_Deaths': 18596, 'Total_Recovered': 987515, 'Active_Cases': 106211, 'Total_Tests': 7154150, 'Population': 10721519}
{'_id': ObjectId('602da5ec6ceea44dd6cdf179'), 'index': 22, 'id': 22, 'Country': 'Canada', 'Total_Cases': 833224, 'Total_Deaths': 21419, 'Total_Recovered': 778538, 'Active_Cases': 33267, 'Total_Tests': 23176610, 'Population': 37950235}
{'_id': ObjectId('602da5ec6ceea44dd6cdf17a'), 'index': 23, 'id': 23, 'Country': 'Portugal', 'Total_Cases': 790885, 'Total_Deaths': 15649, 'Total_Recovered': 683061, 'Active_Cases': 92175, 'Total_Tests': 7906907, 'Population': 10177903}
{'_id': ObjectId('602da5ec6ceea44dd6cdf17b'), 'index': 24, 'id': 24, 'Country': 'Chile', 'Total_Cases': 784314, 'Total_Deaths': 19659, 'Total_Recovered': 743306, 'Active_Cases': 21349, 'Total_Tests': 8834416, 'Population': 19219393}
{'_id': ObjectId('602da5ec6ceea44dd6cdf17c'), 'index': 25, 'id': 25, 'Country': 'Romania', 'Total_Cases': 768785, 'Total_Deaths': 19588, 'Total_Recovered': 714709, 'Active_Cases': 34488, 'Total_Tests': 5777072, 'Population': 19156372}
{'_id': ObjectId('602da5ec6ceea44dd6cdf17d'), 'index': 26, 'id': 26, 'Country': 'Belgium', 'Total_Cases': 741205, 'Total_Deaths': 21750, 'Total_Recovered': 50930, 'Active_Cases': 668525, 'Total_Tests': 8956402, 'Population': 11621413}
{'_id': ObjectId('602da5ec6ceea44dd6cdf17e'), 'index': 27, 'id': 27, 'Country': 'Israel', 'Total_Cases': 738629, 'Total_Deaths': 5473, 'Total_Recovered': 681249, 'Active_Cases': 51907, 'Total_Tests': 11476197, 'Population': 9197590}
{'_id': ObjectId('602da5ec6ceea44dd6cdf17f'), 'index': 28, 'id': 28, 'Country': 'Iraq', 'Total_Cases': 653557, 'Total_Deaths': 13204, 'Total_Recovered': 611036, 'Active_Cases': 29317, 'Total_Tests': 6368835, 'Population': 40785606}
{'_id': ObjectId('602da5ec6ceea44dd6cdf180'), 'index': 30, 'id': 30, 'Country': 'Pakistan', 'Total_Cases': 565989, 'Total_Deaths': 12436, 'Total_Recovered': 528545, 'Active_Cases': 25008, 'Total_Tests': 8531218, 'Population': 223573081}
{'_id': ObjectId('602da5ec6ceea44dd6cdf181'), 'index': 31, 'id': 31, 'Country': 'Philippines', 'Total_Cases': 553424, 'Total_Deaths': 11577, 'Total_Recovered': 512033, 'Active_Cases': 29814, 'Total_Tests': 8399429, 'Population': 110495881}
{'_id': ObjectId('602da5ec6ceea44dd6cdf182'), 'index': 32, 'id': 32, 'Country': 'Switzerland', 'Total_Cases': 545535, 'Total_Deaths': 9849, 'Total_Recovered': 490280, 'Active_Cases': 45406, 'Total_Tests': 4797666, 'Population': 8694451}
{'_id': ObjectId('602da5ec6ceea44dd6cdf183'), 'index': 33, 'id': 33, 'Country': 'Bangladesh', 'Total_Cases': 541877, 'Total_Deaths': 8314, 'Total_Recovered': 489254, 'Active_Cases': 44309, 'Total_Tests': 3893654, 'Population': 165720425}
{'_id': ObjectId('602da5ec6ceea44dd6cdf184'), 'index': 34, 'id': 34, 'Country': 'Morocco', 'Total_Cases': 479579, 'Total_Deaths': 8517, 'Total_Recovered': 461466, 'Active_Cases': 9596, 'Total_Tests': 5548327, 'Population': 37185191}
{'_id': ObjectId('602da5ec6ceea44dd6cdf185'), 'index': 35, 'id': 35, 'Country': 'Austria', 'Total_Cases': 437874, 'Total_Deaths': 8290, 'Total_Recovered': 415221, 'Active_Cases': 14363, 'Total_Tests': 4936688, 'Population': 9038764}
{'_id': ObjectId('602da5ec6ceea44dd6cdf186'), 'index': 36, 'id': 36, 'Country': 'Serbia', 'Total_Cases': 426487, 'Total_Deaths': 4277, 'Total_Recovered': 31536, 'Active_Cases': 390674, 'Total_Tests': 2797273, 'Population': 8715098}
{'_id': ObjectId('602da5ec6ceea44dd6cdf187'), 'index': 37, 'id': 37, 'Country': 'Japan', 'Total_Cases': 419015, 'Total_Deaths': 7102, 'Total_Recovered': 391208, 'Active_Cases': 20705, 'Total_Tests': 7707786, 'Population': 126231537}
{'_id': ObjectId('602da5ec6ceea44dd6cdf188'), 'index': 38, 'id': 38, 'Country': 'Hungary', 'Total_Cases': 391170, 'Total_Deaths': 13931, 'Total_Recovered': 299989, 'Active_Cases': 77250, 'Total_Tests': 3388457, 'Population': 9644838}
{'_id': ObjectId('602da5ec6ceea44dd6cdf189'), 'index': 39, 'id': 39, 'Country': 'Saudi Arabia', 'Total_Cases': 373702, 'Total_Deaths': 6445, 'Total_Recovered': 364646, 'Active_Cases': 2611, 'Total_Tests': 13157534, 'Population': 35153496}
{'_id': ObjectId('602da5ec6ceea44dd6cdf18a'), 'index': 40, 'id': 40, 'Country': 'United Arab Emirates', 'Total_Cases': 358583, 'Total_Deaths': 1055, 'Total_Recovered': 343935, 'Active_Cases': 13593, 'Total_Tests': 28655877, 'Population': 9965406}
{'_id': ObjectId('602da5ec6ceea44dd6cdf18b'), 'index': 41, 'id': 41, 'Country': 'Jordan', 'Total_Cases': 355106, 'Total_Deaths': 4503, 'Total_Recovered': 330805, 'Active_Cases': 19798, 'Total_Tests': 4299656, 'Population': 10266786}
{'_id': ObjectId('602da5ec6ceea44dd6cdf18c'), 'index': 42, 'id': 42, 'Country': 'Lebanon', 'Total_Cases': 346080, 'Total_Deaths': 4152, 'Total_Recovered': 250994, 'Active_Cases': 90934, 'Total_Tests': 2848482, 'Population': 6806097}
{'_id': ObjectId('602da5ec6ceea44dd6cdf18d'), 'index': 43, 'id': 43, 'Country': 'Panama', 'Total_Cases': 333251, 'Total_Deaths': 5655, 'Total_Recovered': 314797, 'Active_Cases': 12799, 'Total_Tests': 1807810, 'Population': 4357310}
{'_id': ObjectId('602da5ec6ceea44dd6cdf18e'), 'index': 44, 'id': 44, 'Country': 'Slovakia', 'Total_Cases': 282864, 'Total_Deaths': 6168, 'Total_Recovered': 255300, 'Active_Cases': 21396, 'Total_Tests': 1927182, 'Population': 5461312}
{'_id': ObjectId('602da5ec6ceea44dd6cdf18f'), 'index': 45, 'id': 45, 'Country': 'Nepal', 'Total_Cases': 273070, 'Total_Deaths': 2055, 'Total_Recovered': 269394, 'Active_Cases': 1621, 'Total_Tests': 2127789, 'Population': 29464622}
{'_id': ObjectId('602da5ec6ceea44dd6cdf190'), 'index': 46, 'id': 46, 'Country': 'Belarus', 'Total_Cases': 272273, 'Total_Deaths': 1876, 'Total_Recovered': 261568, 'Active_Cases': 8829, 'Total_Tests': 4715699, 'Population': 9447359}
{'_id': ObjectId('602da5ec6ceea44dd6cdf191'), 'index': 47, 'id': 47, 'Country': 'Malaysia', 'Total_Cases': 272163, 'Total_Deaths': 1005, 'Total_Recovered': 229762, 'Active_Cases': 41396, 'Total_Tests': 5647392, 'Population': 32626172}
{'_id': ObjectId('602da5ec6ceea44dd6cdf192'), 'index': 48, 'id': 48, 'Country': 'Ecuador', 'Total_Cases': 268219, 'Total_Deaths': 15394, 'Total_Recovered': 230377, 'Active_Cases': 22448, 'Total_Tests': 949602, 'Population': 17810912}
{'_id': ObjectId('602da5ec6ceea44dd6cdf193'), 'index': 49, 'id': 49, 'Country': 'Georgia', 'Total_Cases': 266948, 'Total_Deaths': 3390, 'Total_Recovered': 259727, 'Active_Cases': 3831, 'Total_Tests': 2495900, 'Population': 3984326}
{'_id': ObjectId('602da5ec6ceea44dd6cdf194'), 'index': 50, 'id': 50, 'Country': 'Croatia', 'Total_Cases': 238501, 'Total_Deaths': 5375, 'Total_Recovered': 230907, 'Active_Cases': 2219, 'Total_Tests': 1282357, 'Population': 4089229}
{'_id': ObjectId('602da5ec6ceea44dd6cdf195'), 'index': 51, 'id': 51, 'Country': 'Bolivia', 'Total_Cases': 237706, 'Total_Deaths': 11274, 'Total_Recovered': 180155, 'Active_Cases': 46277, 'Total_Tests': 647883, 'Population': 11772874}
{'_id': ObjectId('602da5ec6ceea44dd6cdf196'), 'index': 52, 'id': 52, 'Country': 'Bulgaria', 'Total_Cases': 233342, 'Total_Deaths': 9744, 'Total_Recovered': 198888, 'Active_Cases': 24710, 'Total_Tests': 1556468, 'Population': 6915288}
{'_id': ObjectId('602da5ec6ceea44dd6cdf197'), 'index': 53, 'id': 53, 'Country': 'Azerbaijan', 'Total_Cases': 232491, 'Total_Deaths': 3187, 'Total_Recovered': 227116, 'Active_Cases': 2188, 'Total_Tests': 2521394, 'Population': 10196635}
{'_id': ObjectId('602da5ec6ceea44dd6cdf198'), 'index': 54, 'id': 54, 'Country': 'Dominican Republic', 'Total_Cases': 231737, 'Total_Deaths': 2990, 'Total_Recovered': 180170, 'Active_Cases': 48577, 'Total_Tests': 1153449, 'Population': 10916266}
{'_id': ObjectId('602da5ec6ceea44dd6cdf199'), 'index': 55, 'id': 55, 'Country': 'Tunisia', 'Total_Cases': 225116, 'Total_Deaths': 7651, 'Total_Recovered': 185421, 'Active_Cases': 32044, 'Total_Tests': 937497, 'Population': 11896309}
{'_id': ObjectId('602da5ec6ceea44dd6cdf19a'), 'index': 56, 'id': 56, 'Country': 'Ireland', 'Total_Cases': 211751, 'Total_Deaths': 4036, 'Total_Recovered': 23364, 'Active_Cases': 184351, 'Total_Tests': 3345319, 'Population': 4972423}
{'_id': ObjectId('602da5ec6ceea44dd6cdf19b'), 'index': 57, 'id': 57, 'Country': 'Denmark', 'Total_Cases': 205597, 'Total_Deaths': 2316, 'Total_Recovered': 197746, 'Active_Cases': 5535, 'Total_Tests': 15517969, 'Population': 5805063}
{'_id': ObjectId('602da5ec6ceea44dd6cdf19c'), 'index': 58, 'id': 58, 'Country': 'Kazakhstan', 'Total_Cases': 204055, 'Total_Deaths': 2540, 'Total_Recovered': 187545, 'Active_Cases': 13970, 'Total_Tests': 6399596, 'Population': 18917685}
{'_id': ObjectId('602da5ec6ceea44dd6cdf19d'), 'index': 59, 'id': 59, 'Country': 'Costa Rica', 'Total_Cases': 200888, 'Total_Deaths': 2745, 'Total_Recovered': 166979, 'Active_Cases': 31164, 'Total_Tests': 638716, 'Population': 5123362}
{'_id': ObjectId('602da5ec6ceea44dd6cdf19e'), 'index': 60, 'id': 60, 'Country': 'Lithuania', 'Total_Cases': 191821, 'Total_Deaths': 3113, 'Total_Recovered': 176671, 'Active_Cases': 12037, 'Total_Tests': 2042471, 'Population': 2698141}
{'_id': ObjectId('602da5ec6ceea44dd6cdf19f'), 'index': 61, 'id': 61, 'Country': 'Slovenia', 'Total_Cases': 181606, 'Total_Deaths': 3745, 'Total_Recovered': 166220, 'Active_Cases': 11641, 'Total_Tests': 869247, 'Population': 2079118}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1a0'), 'index': 62, 'id': 62, 'Country': 'Kuwait', 'Total_Cases': 180505, 'Total_Deaths': 1019, 'Total_Recovered': 168420, 'Active_Cases': 11066, 'Total_Tests': 1697459, 'Population': 4310151}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1a1'), 'index': 63, 'id': 63, 'Country': 'Egypt', 'Total_Cases': 175677, 'Total_Deaths': 10150, 'Total_Recovered': 136081, 'Active_Cases': 29446, 'Total_Tests': 1000000, 'Population': 103541140}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1a2'), 'index': 64, 'id': 64, 'Country': 'Greece', 'Total_Cases': 174659, 'Total_Deaths': 6194, 'Total_Recovered': 155926, 'Active_Cases': 12539, 'Total_Tests': 4793407, 'Population': 10390820}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1a3'), 'index': 65, 'id': 65, 'Country': 'Moldova', 'Total_Cases': 172815, 'Total_Deaths': 3697, 'Total_Recovered': 159339, 'Active_Cases': 9779, 'Total_Tests': 677015, 'Population': 4028034}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1a4'), 'index': 66, 'id': 66, 'Country': 'Armenia', 'Total_Cases': 169597, 'Total_Deaths': 3155, 'Total_Recovered': 161476, 'Active_Cases': 4966, 'Total_Tests': 691146, 'Population': 2966738}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1a5'), 'index': 67, 'id': 67, 'Country': 'Palestine', 'Total_Cases': 169487, 'Total_Deaths': 1942, 'Total_Recovered': 157982, 'Active_Cases': 9563, 'Total_Tests': 1090917, 'Population': 5175364}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1a6'), 'index': 68, 'id': 68, 'Country': 'Guatemala', 'Total_Cases': 168880, 'Total_Deaths': 6164, 'Total_Recovered': 155920, 'Active_Cases': 6796, 'Total_Tests': 865877, 'Population': 18122812}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1a7'), 'index': 69, 'id': 69, 'Country': 'Honduras', 'Total_Cases': 161727, 'Total_Deaths': 3913, 'Total_Recovered': 63471, 'Active_Cases': 94343, 'Total_Tests': 416406, 'Population': 10003266}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1a8'), 'index': 70, 'id': 70, 'Country': 'Qatar', 'Total_Cases': 158591, 'Total_Deaths': 256, 'Total_Recovered': 148766, 'Active_Cases': 9569, 'Total_Tests': 1481420, 'Population': 2807805}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1a9'), 'index': 71, 'id': 71, 'Country': 'Ethiopia', 'Total_Cases': 149308, 'Total_Deaths': 2237, 'Total_Recovered': 130124, 'Active_Cases': 16947, 'Total_Tests': 2063144, 'Population': 116737709}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1aa'), 'index': 72, 'id': 72, 'Country': 'Nigeria', 'Total_Cases': 148500, 'Total_Deaths': 1779, 'Total_Recovered': 124923, 'Active_Cases': 21798, 'Total_Tests': 1441013, 'Population': 209322637}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1ab'), 'index': 73, 'id': 73, 'Country': 'Paraguay', 'Total_Cases': 147253, 'Total_Deaths': 2991, 'Total_Recovered': 123293, 'Active_Cases': 20969, 'Total_Tests': 711598, 'Population': 7187523}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1ac'), 'index': 74, 'id': 74, 'Country': 'Myanmar', 'Total_Cases': 141690, 'Total_Deaths': 3192, 'Total_Recovered': 130944, 'Active_Cases': 7554, 'Total_Tests': 2479405, 'Population': 54639411}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1ad'), 'index': 75, 'id': 75, 'Country': 'Oman', 'Total_Cases': 138206, 'Total_Deaths': 1549, 'Total_Recovered': 129752, 'Active_Cases': 6905, 'Total_Tests': 1550000, 'Population': 5187507}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1ae'), 'index': 76, 'id': 76, 'Country': 'Venezuela', 'Total_Cases': 133927, 'Total_Deaths': 1292, 'Total_Recovered': 125924, 'Active_Cases': 6711, 'Total_Tests': 2781130, 'Population': 28384978}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1af'), 'index': 77, 'id': 77, 'Country': 'Libya', 'Total_Cases': 128348, 'Total_Deaths': 2056, 'Total_Recovered': 112731, 'Active_Cases': 13561, 'Total_Tests': 700119, 'Population': 6929888}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1b0'), 'index': 78, 'id': 78, 'Country': 'Bosnia and Herzegovina', 'Total_Cases': 126781, 'Total_Deaths': 4949, 'Total_Recovered': 109274, 'Active_Cases': 12558, 'Total_Tests': 639979, 'Population': 3267891}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1b1'), 'index': 79, 'id': 79, 'Country': 'Bahrain', 'Total_Cases': 115057, 'Total_Deaths': 410, 'Total_Recovered': 107016, 'Active_Cases': 7631, 'Total_Tests': 2939902, 'Population': 1738198}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1b2'), 'index': 81, 'id': 81, 'Country': 'Kenya', 'Total_Cases': 103332, 'Total_Deaths': 1801, 'Total_Recovered': 85391, 'Active_Cases': 16140, 'Total_Tests': 1249196, 'Population': 54510427}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1b3'), 'index': 82, 'id': 82, 'Country': 'North Macedonia', 'Total_Cases': 97803, 'Total_Deaths': 3010, 'Total_Recovered': 88469, 'Active_Cases': 6324, 'Total_Tests': 492374, 'Population': 2083320}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1b4'), 'index': 83, 'id': 83, 'Country': 'Albania', 'Total_Cases': 95726, 'Total_Deaths': 1600, 'Total_Recovered': 59684, 'Active_Cases': 34442, 'Total_Tests': 416419, 'Population': 2875811}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1b5'), 'index': 84, 'id': 84, 'Country': 'Kyrgyzstan', 'Total_Cases': 85619, 'Total_Deaths': 1446, 'Total_Recovered': 82452, 'Active_Cases': 1721, 'Total_Tests': 710220, 'Population': 6591585}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1b6'), 'index': 85, 'id': 85, 'Country': 'S. Korea', 'Total_Cases': 84946, 'Total_Deaths': 1538, 'Total_Recovered': 75360, 'Active_Cases': 8048, 'Total_Tests': 6260567, 'Population': 51297043}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1b7'), 'index': 86, 'id': 86, 'Country': 'Uzbekistan', 'Total_Cases': 79497, 'Total_Deaths': 622, 'Total_Recovered': 77993, 'Active_Cases': 882, 'Total_Tests': 1377915, 'Population': 33773239}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1b8'), 'index': 87, 'id': 87, 'Country': 'Latvia', 'Total_Cases': 78643, 'Total_Deaths': 1508, 'Total_Recovered': 66208, 'Active_Cases': 10927, 'Total_Tests': 1392143, 'Population': 1872957}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1b9'), 'index': 88, 'id': 88, 'Country': 'Sri Lanka', 'Total_Cases': 77906, 'Total_Deaths': 422, 'Total_Recovered': 71176, 'Active_Cases': 6308, 'Total_Tests': 1831420, 'Population': 21469841}

In [18]:
# Display the MongoDB records created above
data_iterate = db.collection_covid_infection.find()

for record in data_iterate:
    print(record)

{'_id': ObjectId('602da5ec6ceea44dd6cdf165'), 'index': 1, 'id': 1, 'Country': 'United States', 'Total_Cases': 28447540, 'Total_Deaths': 502054, 'Total_Recovered': 18584478, 'Active_Cases': 9361008, 'Total_Tests': 338688211, 'Population': 332225037}
{'_id': ObjectId('602da5ec6ceea44dd6cdf166'), 'index': 2, 'id': 2, 'Country': 'India', 'Total_Cases': 10949546, 'Total_Deaths': 156038, 'Total_Recovered': 10654706, 'Active_Cases': 138802, 'Total_Tests': 207977229, 'Population': 1388530816}
{'_id': ObjectId('602da5ec6ceea44dd6cdf167'), 'index': 3, 'id': 3, 'Country': 'Brazil', 'Total_Cases': 9979276, 'Total_Deaths': 242178, 'Total_Recovered': 8950450, 'Active_Cases': 786648, 'Total_Tests': 28600000, 'Population': 213510360}
{'_id': ObjectId('602da5ec6ceea44dd6cdf168'), 'index': 4, 'id': 4, 'Country': 'Russia', 'Total_Cases': 4112151, 'Total_Deaths': 81446, 'Total_Recovered': 3642582, 'Active_Cases': 388123, 'Total_Tests': 107500000, 'Population': 145973980}
{'_id': ObjectId('602da5ec6ceea44dd6cdf169'), 'index': 5, 'id': 5, 'Country': 'UK', 'Total_Cases': 4071185, 'Total_Deaths': 118933, 'Total_Recovered': 2282703, 'Active_Cases': 1669549, 'Total_Tests': 83527818, 'Population': 68110664}
{'_id': ObjectId('602da5ec6ceea44dd6cdf16a'), 'index': 6, 'id': 6, 'Country': 'France', 'Total_Cases': 3514147, 'Total_Deaths': 83122, 'Total_Recovered': 245737, 'Active_Cases': 3185288, 'Total_Tests': 49251253, 'Population': 65364643}
{'_id': ObjectId('602da5ec6ceea44dd6cdf16b'), 'index': 7, 'id': 7, 'Country': 'Spain', 'Total_Cases': 3107172, 'Total_Deaths': 66316, 'Total_Recovered': 2411183, 'Active_Cases': 629673, 'Total_Tests': 37334915, 'Population': 46766215}
{'_id': ObjectId('602da5ec6ceea44dd6cdf16c'), 'index': 8, 'id': 8, 'Country': 'Italy', 'Total_Cases': 2751657, 'Total_Deaths': 94540, 'Total_Recovered': 2268253, 'Active_Cases': 388864, 'Total_Tests': 36916289, 'Population': 60405628}
{'_id': ObjectId('602da5ec6ceea44dd6cdf16d'), 'index': 9, 'id': 9, 'Country': 'Turkey', 'Total_Cases': 2609359, 'Total_Deaths': 27738, 'Total_Recovered': 2496833, 'Active_Cases': 84788, 'Total_Tests': 31866086, 'Population': 84909102}
{'_id': ObjectId('602da5ec6ceea44dd6cdf16e'), 'index': 10, 'id': 10, 'Country': 'Germany', 'Total_Cases': 2362352, 'Total_Deaths': 67074, 'Total_Recovered': 2154600, 'Active_Cases': 140678, 'Total_Tests': 41758675, 'Population': 83952892}
{'_id': ObjectId('602da5ec6ceea44dd6cdf16f'), 'index': 11, 'id': 11, 'Country': 'Colombia', 'Total_Cases': 2207701, 'Total_Deaths': 58134, 'Total_Recovered': 2099628, 'Active_Cases': 49939, 'Total_Tests': 10987643, 'Population': 51223565}
{'_id': ObjectId('602da5ec6ceea44dd6cdf170'), 'index': 12, 'id': 12, 'Country': 'Argentina', 'Total_Cases': 2039124, 'Total_Deaths': 50616, 'Total_Recovered': 1842878, 'Active_Cases': 145630, 'Total_Tests': 6947674, 'Population': 45456498}
{'_id': ObjectId('602da5ec6ceea44dd6cdf171'), 'index': 13, 'id': 13, 'Country': 'Mexico', 'Total_Cases': 2004575, 'Total_Deaths': 175986, 'Total_Recovered': 1563992, 'Active_Cases': 264597, 'Total_Tests': 5138262, 'Population': 129783734}
{'_id': ObjectId('602da5ec6ceea44dd6cdf172'), 'index': 14, 'id': 14, 'Country': 'Poland', 'Total_Cases': 1605372, 'Total_Deaths': 41308, 'Total_Recovered': 1354598, 'Active_Cases': 209466, 'Total_Tests': 9178403, 'Population': 37820414}
{'_id': ObjectId('602da5ec6ceea44dd6cdf173'), 'index': 15, 'id': 15, 'Country': 'Iran', 'Total_Cases': 1542076, 'Total_Deaths': 59184, 'Total_Recovered': 1317612, 'Active_Cases': 165280, 'Total_Tests': 10218318, 'Population': 84667452}
{'_id': ObjectId('602da5ec6ceea44dd6cdf174'), 'index': 16, 'id': 16, 'Country': 'South Africa', 'Total_Cases': 1496439, 'Total_Deaths': 48478, 'Total_Recovered': 1399829, 'Active_Cases': 48132, 'Total_Tests': 8772743, 'Population': 59777893}
{'_id': ObjectId('602da5ec6ceea44dd6cdf175'), 'index': 17, 'id': 17, 'Country': 'Ukraine', 'Total_Cases': 1280904, 'Total_Deaths': 24689, 'Total_Recovered': 1128890, 'Active_Cases': 127325, 'Total_Tests': 6570806, 'Population': 43567324}
{'_id': ObjectId('602da5ec6ceea44dd6cdf176'), 'index': 18, 'id': 18, 'Country': 'Peru', 'Total_Cases': 1244729, 'Total_Deaths': 44056, 'Total_Recovered': 1155956, 'Active_Cases': 44717, 'Total_Tests': 6993146, 'Population': 33259837}
{'_id': ObjectId('602da5ec6ceea44dd6cdf177'), 'index': 19, 'id': 19, 'Country': 'Indonesia', 'Total_Cases': 1243646, 'Total_Deaths': 33788, 'Total_Recovered': 1047676, 'Active_Cases': 162182, 'Total_Tests': 10115963, 'Population': 275340530}
{'_id': ObjectId('602da5ec6ceea44dd6cdf178'), 'index': 20, 'id': 20, 'Country': 'Czechia', 'Total_Cases': 1112322, 'Total_Deaths': 18596, 'Total_Recovered': 987515, 'Active_Cases': 106211, 'Total_Tests': 7154150, 'Population': 10721519}
{'_id': ObjectId('602da5ec6ceea44dd6cdf179'), 'index': 22, 'id': 22, 'Country': 'Canada', 'Total_Cases': 833224, 'Total_Deaths': 21419, 'Total_Recovered': 778538, 'Active_Cases': 33267, 'Total_Tests': 23176610, 'Population': 37950235}
{'_id': ObjectId('602da5ec6ceea44dd6cdf17a'), 'index': 23, 'id': 23, 'Country': 'Portugal', 'Total_Cases': 790885, 'Total_Deaths': 15649, 'Total_Recovered': 683061, 'Active_Cases': 92175, 'Total_Tests': 7906907, 'Population': 10177903}
{'_id': ObjectId('602da5ec6ceea44dd6cdf17b'), 'index': 24, 'id': 24, 'Country': 'Chile', 'Total_Cases': 784314, 'Total_Deaths': 19659, 'Total_Recovered': 743306, 'Active_Cases': 21349, 'Total_Tests': 8834416, 'Population': 19219393}
{'_id': ObjectId('602da5ec6ceea44dd6cdf17c'), 'index': 25, 'id': 25, 'Country': 'Romania', 'Total_Cases': 768785, 'Total_Deaths': 19588, 'Total_Recovered': 714709, 'Active_Cases': 34488, 'Total_Tests': 5777072, 'Population': 19156372}
{'_id': ObjectId('602da5ec6ceea44dd6cdf17d'), 'index': 26, 'id': 26, 'Country': 'Belgium', 'Total_Cases': 741205, 'Total_Deaths': 21750, 'Total_Recovered': 50930, 'Active_Cases': 668525, 'Total_Tests': 8956402, 'Population': 11621413}
{'_id': ObjectId('602da5ec6ceea44dd6cdf17e'), 'index': 27, 'id': 27, 'Country': 'Israel', 'Total_Cases': 738629, 'Total_Deaths': 5473, 'Total_Recovered': 681249, 'Active_Cases': 51907, 'Total_Tests': 11476197, 'Population': 9197590}
{'_id': ObjectId('602da5ec6ceea44dd6cdf17f'), 'index': 28, 'id': 28, 'Country': 'Iraq', 'Total_Cases': 653557, 'Total_Deaths': 13204, 'Total_Recovered': 611036, 'Active_Cases': 29317, 'Total_Tests': 6368835, 'Population': 40785606}
{'_id': ObjectId('602da5ec6ceea44dd6cdf180'), 'index': 30, 'id': 30, 'Country': 'Pakistan', 'Total_Cases': 565989, 'Total_Deaths': 12436, 'Total_Recovered': 528545, 'Active_Cases': 25008, 'Total_Tests': 8531218, 'Population': 223573081}
{'_id': ObjectId('602da5ec6ceea44dd6cdf181'), 'index': 31, 'id': 31, 'Country': 'Philippines', 'Total_Cases': 553424, 'Total_Deaths': 11577, 'Total_Recovered': 512033, 'Active_Cases': 29814, 'Total_Tests': 8399429, 'Population': 110495881}
{'_id': ObjectId('602da5ec6ceea44dd6cdf182'), 'index': 32, 'id': 32, 'Country': 'Switzerland', 'Total_Cases': 545535, 'Total_Deaths': 9849, 'Total_Recovered': 490280, 'Active_Cases': 45406, 'Total_Tests': 4797666, 'Population': 8694451}
{'_id': ObjectId('602da5ec6ceea44dd6cdf183'), 'index': 33, 'id': 33, 'Country': 'Bangladesh', 'Total_Cases': 541877, 'Total_Deaths': 8314, 'Total_Recovered': 489254, 'Active_Cases': 44309, 'Total_Tests': 3893654, 'Population': 165720425}
{'_id': ObjectId('602da5ec6ceea44dd6cdf184'), 'index': 34, 'id': 34, 'Country': 'Morocco', 'Total_Cases': 479579, 'Total_Deaths': 8517, 'Total_Recovered': 461466, 'Active_Cases': 9596, 'Total_Tests': 5548327, 'Population': 37185191}
{'_id': ObjectId('602da5ec6ceea44dd6cdf185'), 'index': 35, 'id': 35, 'Country': 'Austria', 'Total_Cases': 437874, 'Total_Deaths': 8290, 'Total_Recovered': 415221, 'Active_Cases': 14363, 'Total_Tests': 4936688, 'Population': 9038764}
{'_id': ObjectId('602da5ec6ceea44dd6cdf186'), 'index': 36, 'id': 36, 'Country': 'Serbia', 'Total_Cases': 426487, 'Total_Deaths': 4277, 'Total_Recovered': 31536, 'Active_Cases': 390674, 'Total_Tests': 2797273, 'Population': 8715098}
{'_id': ObjectId('602da5ec6ceea44dd6cdf187'), 'index': 37, 'id': 37, 'Country': 'Japan', 'Total_Cases': 419015, 'Total_Deaths': 7102, 'Total_Recovered': 391208, 'Active_Cases': 20705, 'Total_Tests': 7707786, 'Population': 126231537}
{'_id': ObjectId('602da5ec6ceea44dd6cdf188'), 'index': 38, 'id': 38, 'Country': 'Hungary', 'Total_Cases': 391170, 'Total_Deaths': 13931, 'Total_Recovered': 299989, 'Active_Cases': 77250, 'Total_Tests': 3388457, 'Population': 9644838}
{'_id': ObjectId('602da5ec6ceea44dd6cdf189'), 'index': 39, 'id': 39, 'Country': 'Saudi Arabia', 'Total_Cases': 373702, 'Total_Deaths': 6445, 'Total_Recovered': 364646, 'Active_Cases': 2611, 'Total_Tests': 13157534, 'Population': 35153496}
{'_id': ObjectId('602da5ec6ceea44dd6cdf18a'), 'index': 40, 'id': 40, 'Country': 'United Arab Emirates', 'Total_Cases': 358583, 'Total_Deaths': 1055, 'Total_Recovered': 343935, 'Active_Cases': 13593, 'Total_Tests': 28655877, 'Population': 9965406}
{'_id': ObjectId('602da5ec6ceea44dd6cdf18b'), 'index': 41, 'id': 41, 'Country': 'Jordan', 'Total_Cases': 355106, 'Total_Deaths': 4503, 'Total_Recovered': 330805, 'Active_Cases': 19798, 'Total_Tests': 4299656, 'Population': 10266786}
{'_id': ObjectId('602da5ec6ceea44dd6cdf18c'), 'index': 42, 'id': 42, 'Country': 'Lebanon', 'Total_Cases': 346080, 'Total_Deaths': 4152, 'Total_Recovered': 250994, 'Active_Cases': 90934, 'Total_Tests': 2848482, 'Population': 6806097}
{'_id': ObjectId('602da5ec6ceea44dd6cdf18d'), 'index': 43, 'id': 43, 'Country': 'Panama', 'Total_Cases': 333251, 'Total_Deaths': 5655, 'Total_Recovered': 314797, 'Active_Cases': 12799, 'Total_Tests': 1807810, 'Population': 4357310}
{'_id': ObjectId('602da5ec6ceea44dd6cdf18e'), 'index': 44, 'id': 44, 'Country': 'Slovakia', 'Total_Cases': 282864, 'Total_Deaths': 6168, 'Total_Recovered': 255300, 'Active_Cases': 21396, 'Total_Tests': 1927182, 'Population': 5461312}
{'_id': ObjectId('602da5ec6ceea44dd6cdf18f'), 'index': 45, 'id': 45, 'Country': 'Nepal', 'Total_Cases': 273070, 'Total_Deaths': 2055, 'Total_Recovered': 269394, 'Active_Cases': 1621, 'Total_Tests': 2127789, 'Population': 29464622}
{'_id': ObjectId('602da5ec6ceea44dd6cdf190'), 'index': 46, 'id': 46, 'Country': 'Belarus', 'Total_Cases': 272273, 'Total_Deaths': 1876, 'Total_Recovered': 261568, 'Active_Cases': 8829, 'Total_Tests': 4715699, 'Population': 9447359}
{'_id': ObjectId('602da5ec6ceea44dd6cdf191'), 'index': 47, 'id': 47, 'Country': 'Malaysia', 'Total_Cases': 272163, 'Total_Deaths': 1005, 'Total_Recovered': 229762, 'Active_Cases': 41396, 'Total_Tests': 5647392, 'Population': 32626172}
{'_id': ObjectId('602da5ec6ceea44dd6cdf192'), 'index': 48, 'id': 48, 'Country': 'Ecuador', 'Total_Cases': 268219, 'Total_Deaths': 15394, 'Total_Recovered': 230377, 'Active_Cases': 22448, 'Total_Tests': 949602, 'Population': 17810912}
{'_id': ObjectId('602da5ec6ceea44dd6cdf193'), 'index': 49, 'id': 49, 'Country': 'Georgia', 'Total_Cases': 266948, 'Total_Deaths': 3390, 'Total_Recovered': 259727, 'Active_Cases': 3831, 'Total_Tests': 2495900, 'Population': 3984326}
{'_id': ObjectId('602da5ec6ceea44dd6cdf194'), 'index': 50, 'id': 50, 'Country': 'Croatia', 'Total_Cases': 238501, 'Total_Deaths': 5375, 'Total_Recovered': 230907, 'Active_Cases': 2219, 'Total_Tests': 1282357, 'Population': 4089229}
{'_id': ObjectId('602da5ec6ceea44dd6cdf195'), 'index': 51, 'id': 51, 'Country': 'Bolivia', 'Total_Cases': 237706, 'Total_Deaths': 11274, 'Total_Recovered': 180155, 'Active_Cases': 46277, 'Total_Tests': 647883, 'Population': 11772874}
{'_id': ObjectId('602da5ec6ceea44dd6cdf196'), 'index': 52, 'id': 52, 'Country': 'Bulgaria', 'Total_Cases': 233342, 'Total_Deaths': 9744, 'Total_Recovered': 198888, 'Active_Cases': 24710, 'Total_Tests': 1556468, 'Population': 6915288}
{'_id': ObjectId('602da5ec6ceea44dd6cdf197'), 'index': 53, 'id': 53, 'Country': 'Azerbaijan', 'Total_Cases': 232491, 'Total_Deaths': 3187, 'Total_Recovered': 227116, 'Active_Cases': 2188, 'Total_Tests': 2521394, 'Population': 10196635}
{'_id': ObjectId('602da5ec6ceea44dd6cdf198'), 'index': 54, 'id': 54, 'Country': 'Dominican Republic', 'Total_Cases': 231737, 'Total_Deaths': 2990, 'Total_Recovered': 180170, 'Active_Cases': 48577, 'Total_Tests': 1153449, 'Population': 10916266}
{'_id': ObjectId('602da5ec6ceea44dd6cdf199'), 'index': 55, 'id': 55, 'Country': 'Tunisia', 'Total_Cases': 225116, 'Total_Deaths': 7651, 'Total_Recovered': 185421, 'Active_Cases': 32044, 'Total_Tests': 937497, 'Population': 11896309}
{'_id': ObjectId('602da5ec6ceea44dd6cdf19a'), 'index': 56, 'id': 56, 'Country': 'Ireland', 'Total_Cases': 211751, 'Total_Deaths': 4036, 'Total_Recovered': 23364, 'Active_Cases': 184351, 'Total_Tests': 3345319, 'Population': 4972423}
{'_id': ObjectId('602da5ec6ceea44dd6cdf19b'), 'index': 57, 'id': 57, 'Country': 'Denmark', 'Total_Cases': 205597, 'Total_Deaths': 2316, 'Total_Recovered': 197746, 'Active_Cases': 5535, 'Total_Tests': 15517969, 'Population': 5805063}
{'_id': ObjectId('602da5ec6ceea44dd6cdf19c'), 'index': 58, 'id': 58, 'Country': 'Kazakhstan', 'Total_Cases': 204055, 'Total_Deaths': 2540, 'Total_Recovered': 187545, 'Active_Cases': 13970, 'Total_Tests': 6399596, 'Population': 18917685}
{'_id': ObjectId('602da5ec6ceea44dd6cdf19d'), 'index': 59, 'id': 59, 'Country': 'Costa Rica', 'Total_Cases': 200888, 'Total_Deaths': 2745, 'Total_Recovered': 166979, 'Active_Cases': 31164, 'Total_Tests': 638716, 'Population': 5123362}
{'_id': ObjectId('602da5ec6ceea44dd6cdf19e'), 'index': 60, 'id': 60, 'Country': 'Lithuania', 'Total_Cases': 191821, 'Total_Deaths': 3113, 'Total_Recovered': 176671, 'Active_Cases': 12037, 'Total_Tests': 2042471, 'Population': 2698141}
{'_id': ObjectId('602da5ec6ceea44dd6cdf19f'), 'index': 61, 'id': 61, 'Country': 'Slovenia', 'Total_Cases': 181606, 'Total_Deaths': 3745, 'Total_Recovered': 166220, 'Active_Cases': 11641, 'Total_Tests': 869247, 'Population': 2079118}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1a0'), 'index': 62, 'id': 62, 'Country': 'Kuwait', 'Total_Cases': 180505, 'Total_Deaths': 1019, 'Total_Recovered': 168420, 'Active_Cases': 11066, 'Total_Tests': 1697459, 'Population': 4310151}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1a1'), 'index': 63, 'id': 63, 'Country': 'Egypt', 'Total_Cases': 175677, 'Total_Deaths': 10150, 'Total_Recovered': 136081, 'Active_Cases': 29446, 'Total_Tests': 1000000, 'Population': 103541140}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1a2'), 'index': 64, 'id': 64, 'Country': 'Greece', 'Total_Cases': 174659, 'Total_Deaths': 6194, 'Total_Recovered': 155926, 'Active_Cases': 12539, 'Total_Tests': 4793407, 'Population': 10390820}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1a3'), 'index': 65, 'id': 65, 'Country': 'Moldova', 'Total_Cases': 172815, 'Total_Deaths': 3697, 'Total_Recovered': 159339, 'Active_Cases': 9779, 'Total_Tests': 677015, 'Population': 4028034}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1a4'), 'index': 66, 'id': 66, 'Country': 'Armenia', 'Total_Cases': 169597, 'Total_Deaths': 3155, 'Total_Recovered': 161476, 'Active_Cases': 4966, 'Total_Tests': 691146, 'Population': 2966738}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1a5'), 'index': 67, 'id': 67, 'Country': 'Palestine', 'Total_Cases': 169487, 'Total_Deaths': 1942, 'Total_Recovered': 157982, 'Active_Cases': 9563, 'Total_Tests': 1090917, 'Population': 5175364}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1a6'), 'index': 68, 'id': 68, 'Country': 'Guatemala', 'Total_Cases': 168880, 'Total_Deaths': 6164, 'Total_Recovered': 155920, 'Active_Cases': 6796, 'Total_Tests': 865877, 'Population': 18122812}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1a7'), 'index': 69, 'id': 69, 'Country': 'Honduras', 'Total_Cases': 161727, 'Total_Deaths': 3913, 'Total_Recovered': 63471, 'Active_Cases': 94343, 'Total_Tests': 416406, 'Population': 10003266}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1a8'), 'index': 70, 'id': 70, 'Country': 'Qatar', 'Total_Cases': 158591, 'Total_Deaths': 256, 'Total_Recovered': 148766, 'Active_Cases': 9569, 'Total_Tests': 1481420, 'Population': 2807805}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1a9'), 'index': 71, 'id': 71, 'Country': 'Ethiopia', 'Total_Cases': 149308, 'Total_Deaths': 2237, 'Total_Recovered': 130124, 'Active_Cases': 16947, 'Total_Tests': 2063144, 'Population': 116737709}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1aa'), 'index': 72, 'id': 72, 'Country': 'Nigeria', 'Total_Cases': 148500, 'Total_Deaths': 1779, 'Total_Recovered': 124923, 'Active_Cases': 21798, 'Total_Tests': 1441013, 'Population': 209322637}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1ab'), 'index': 73, 'id': 73, 'Country': 'Paraguay', 'Total_Cases': 147253, 'Total_Deaths': 2991, 'Total_Recovered': 123293, 'Active_Cases': 20969, 'Total_Tests': 711598, 'Population': 7187523}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1ac'), 'index': 74, 'id': 74, 'Country': 'Myanmar', 'Total_Cases': 141690, 'Total_Deaths': 3192, 'Total_Recovered': 130944, 'Active_Cases': 7554, 'Total_Tests': 2479405, 'Population': 54639411}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1ad'), 'index': 75, 'id': 75, 'Country': 'Oman', 'Total_Cases': 138206, 'Total_Deaths': 1549, 'Total_Recovered': 129752, 'Active_Cases': 6905, 'Total_Tests': 1550000, 'Population': 5187507}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1ae'), 'index': 76, 'id': 76, 'Country': 'Venezuela', 'Total_Cases': 133927, 'Total_Deaths': 1292, 'Total_Recovered': 125924, 'Active_Cases': 6711, 'Total_Tests': 2781130, 'Population': 28384978}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1af'), 'index': 77, 'id': 77, 'Country': 'Libya', 'Total_Cases': 128348, 'Total_Deaths': 2056, 'Total_Recovered': 112731, 'Active_Cases': 13561, 'Total_Tests': 700119, 'Population': 6929888}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1b0'), 'index': 78, 'id': 78, 'Country': 'Bosnia and Herzegovina', 'Total_Cases': 126781, 'Total_Deaths': 4949, 'Total_Recovered': 109274, 'Active_Cases': 12558, 'Total_Tests': 639979, 'Population': 3267891}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1b1'), 'index': 79, 'id': 79, 'Country': 'Bahrain', 'Total_Cases': 115057, 'Total_Deaths': 410, 'Total_Recovered': 107016, 'Active_Cases': 7631, 'Total_Tests': 2939902, 'Population': 1738198}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1b2'), 'index': 81, 'id': 81, 'Country': 'Kenya', 'Total_Cases': 103332, 'Total_Deaths': 1801, 'Total_Recovered': 85391, 'Active_Cases': 16140, 'Total_Tests': 1249196, 'Population': 54510427}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1b3'), 'index': 82, 'id': 82, 'Country': 'North Macedonia', 'Total_Cases': 97803, 'Total_Deaths': 3010, 'Total_Recovered': 88469, 'Active_Cases': 6324, 'Total_Tests': 492374, 'Population': 2083320}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1b4'), 'index': 83, 'id': 83, 'Country': 'Albania', 'Total_Cases': 95726, 'Total_Deaths': 1600, 'Total_Recovered': 59684, 'Active_Cases': 34442, 'Total_Tests': 416419, 'Population': 2875811}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1b5'), 'index': 84, 'id': 84, 'Country': 'Kyrgyzstan', 'Total_Cases': 85619, 'Total_Deaths': 1446, 'Total_Recovered': 82452, 'Active_Cases': 1721, 'Total_Tests': 710220, 'Population': 6591585}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1b6'), 'index': 85, 'id': 85, 'Country': 'S. Korea', 'Total_Cases': 84946, 'Total_Deaths': 1538, 'Total_Recovered': 75360, 'Active_Cases': 8048, 'Total_Tests': 6260567, 'Population': 51297043}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1b7'), 'index': 86, 'id': 86, 'Country': 'Uzbekistan', 'Total_Cases': 79497, 'Total_Deaths': 622, 'Total_Recovered': 77993, 'Active_Cases': 882, 'Total_Tests': 1377915, 'Population': 33773239}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1b8'), 'index': 87, 'id': 87, 'Country': 'Latvia', 'Total_Cases': 78643, 'Total_Deaths': 1508, 'Total_Recovered': 66208, 'Active_Cases': 10927, 'Total_Tests': 1392143, 'Population': 1872957}
{'_id': ObjectId('602da5ec6ceea44dd6cdf1b9'), 'index': 88, 'id': 88, 'Country': 'Sri Lanka', 'Total_Cases': 77906, 'Total_Deaths': 422, 'Total_Recovered': 71176, 'Active_Cases': 6308, 'Total_Tests': 1831420, 'Population': 21469841}

In [19]:
# Display the MongoDB records created above
data_iterate = db.collection_stringency.find()

for record in data_iterate:
    print(record)

{'_id': ObjectId('602da5ec6ceea44dd6cdf2d4'), 'index': 0, 'Country': 'Aruba', 'Code': 'ABW', 'Start_Period': '2020-03-13', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-03', 'End_Period_Stringency': 37.04}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2d5'), 'index': 1, 'Country': 'Afghanistan', 'Code': 'AFG', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-08', 'End_Period_Stringency': 5.56}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2d6'), 'index': 2, 'Country': 'Angola', 'Code': 'AGO', 'Start_Period': '2020-03-22', 'Start_Period_Stringency': 11.11, 'End_Period': '2020-10-31', 'End_Period_Stringency': 65.74}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2d7'), 'index': 3, 'Country': 'Anguilla', 'Code': 'AIA', 'Start_Period': '2020-03-27', 'Start_Period_Stringency': 71.3, 'End_Period': '2020-09-27', 'End_Period_Stringency': 24.07}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2d8'), 'index': 4, 'Country': 'Albania', 'Code': 'ALB', 'Start_Period': '2020-03-09', 'Start_Period_Stringency': 36.11, 'End_Period': '2020-11-08', 'End_Period_Stringency': 50.93}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2d9'), 'index': 5, 'Country': 'Andorra', 'Code': 'AND', 'Start_Period': '2020-03-03', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 59.26}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2da'), 'index': 6, 'Country': 'United Arab Emirates', 'Code': 'ARE', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 47.22}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2db'), 'index': 7, 'Country': 'Argentina', 'Code': 'ARG', 'Start_Period': '2020-03-04', 'Start_Period_Stringency': 11.11, 'End_Period': '2020-11-05', 'End_Period_Stringency': 81.94}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2dc'), 'index': 8, 'Country': 'Australia', 'Code': 'AUS', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-04', 'End_Period_Stringency': 47.69}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2dd'), 'index': 9, 'Country': 'Austria', 'Code': 'AUT', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 75.0}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2de'), 'index': 10, 'Country': 'Azerbaijan', 'Code': 'AZE', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-06', 'End_Period_Stringency': 64.35}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2df'), 'index': 11, 'Country': 'Burundi', 'Code': 'BDI', 'Start_Period': '2020-04-01', 'Start_Period_Stringency': 13.89, 'End_Period': '2020-11-09', 'End_Period_Stringency': 14.81}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2e0'), 'index': 12, 'Country': 'Belgium', 'Code': 'BEL', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-08', 'End_Period_Stringency': 65.74}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2e1'), 'index': 13, 'Country': 'Benin', 'Code': 'BEN', 'Start_Period': '2020-03-17', 'Start_Period_Stringency': 27.78, 'End_Period': '2020-11-08', 'End_Period_Stringency': 27.78}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2e2'), 'index': 14, 'Country': 'Burkina Faso', 'Code': 'BFA', 'Start_Period': '2020-03-11', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-02', 'End_Period_Stringency': 22.22}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2e3'), 'index': 15, 'Country': 'Bangladesh', 'Code': 'BGD', 'Start_Period': '2020-03-03', 'Start_Period_Stringency': 13.89, 'End_Period': '2020-11-09', 'End_Period_Stringency': 80.09}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2e4'), 'index': 16, 'Country': 'Bulgaria', 'Code': 'BGR', 'Start_Period': '2020-03-08', 'Start_Period_Stringency': 21.3, 'End_Period': '2020-11-09', 'End_Period_Stringency': 48.15}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2e5'), 'index': 17, 'Country': 'Bahrain', 'Code': 'BHR', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-05', 'End_Period_Stringency': 58.33}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2e6'), 'index': 18, 'Country': 'Bosnia and Herzegovina', 'Code': 'BIH', 'Start_Period': '2020-03-06', 'Start_Period_Stringency': 11.11, 'End_Period': '2020-11-05', 'End_Period_Stringency': 40.74}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2e7'), 'index': 19, 'Country': 'Belarus', 'Code': 'BLR', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-05', 'End_Period_Stringency': 22.22}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2e8'), 'index': 20, 'Country': 'Belize', 'Code': 'BLZ', 'Start_Period': '2020-03-24', 'Start_Period_Stringency': 54.63, 'End_Period': '2020-11-10', 'End_Period_Stringency': 66.67}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2e9'), 'index': 21, 'Country': 'Bermuda', 'Code': 'BMU', 'Start_Period': '2020-03-20', 'Start_Period_Stringency': 48.15, 'End_Period': '2020-11-09', 'End_Period_Stringency': 37.96}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2ea'), 'index': 22, 'Country': 'Bolivia', 'Code': 'BOL', 'Start_Period': '2020-03-12', 'Start_Period_Stringency': 30.56, 'End_Period': '2020-11-05', 'End_Period_Stringency': 81.48}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2eb'), 'index': 23, 'Country': 'Brazil', 'Code': 'BRA', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 57.87}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2ec'), 'index': 24, 'Country': 'Barbados', 'Code': 'BRB', 'Start_Period': '2020-03-18', 'Start_Period_Stringency': 38.89, 'End_Period': '2020-11-10', 'End_Period_Stringency': 40.74}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2ed'), 'index': 25, 'Country': 'Brunei', 'Code': 'BRN', 'Start_Period': '2020-03-10', 'Start_Period_Stringency': 19.44, 'End_Period': '2020-11-09', 'End_Period_Stringency': 35.19}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2ee'), 'index': 26, 'Country': 'Bhutan', 'Code': 'BTN', 'Start_Period': '2020-03-06', 'Start_Period_Stringency': 31.48, 'End_Period': '2020-11-09', 'End_Period_Stringency': 75.0}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2ef'), 'index': 27, 'Country': 'Botswana', 'Code': 'BWA', 'Start_Period': '2020-04-01', 'Start_Period_Stringency': 61.11, 'End_Period': '2020-11-08', 'End_Period_Stringency': 52.78}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2f0'), 'index': 28, 'Country': 'Central African Republic', 'Code': 'CAF', 'Start_Period': '2020-03-16', 'Start_Period_Stringency': 11.11, 'End_Period': '2020-10-26', 'End_Period_Stringency': 31.48}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2f1'), 'index': 29, 'Country': 'Canada', 'Code': 'CAN', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 60.65}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2f2'), 'index': 30, 'Country': 'Switzerland', 'Code': 'CHE', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 50.93}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2f3'), 'index': 31, 'Country': 'Chile', 'Code': 'CHL', 'Start_Period': '2020-03-04', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-03', 'End_Period_Stringency': 76.39}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2f4'), 'index': 32, 'Country': 'China', 'Code': 'CHN', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-10-29', 'End_Period_Stringency': 81.94}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2f5'), 'index': 33, 'Country': "Cote d'Ivoire", 'Code': 'CIV', 'Start_Period': '2020-03-12', 'Start_Period_Stringency': 11.11, 'End_Period': '2020-10-29', 'End_Period_Stringency': 26.85}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2f6'), 'index': 34, 'Country': 'Cameroon', 'Code': 'CMR', 'Start_Period': '2020-03-07', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-10', 'End_Period_Stringency': 45.37}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2f7'), 'index': 35, 'Country': 'Democratic Republic of Congo', 'Code': 'COD', 'Start_Period': '2020-03-11', 'Start_Period_Stringency': 11.11, 'End_Period': '2020-10-26', 'End_Period_Stringency': 45.37}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2f8'), 'index': 36, 'Country': 'Congo', 'Code': 'COG', 'Start_Period': '2020-03-16', 'Start_Period_Stringency': 11.11, 'End_Period': '2020-11-08', 'End_Period_Stringency': 47.22}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2f9'), 'index': 37, 'Country': 'Colombia', 'Code': 'COL', 'Start_Period': '2020-03-07', 'Start_Period_Stringency': 12.04, 'End_Period': '2020-11-08', 'End_Period_Stringency': 65.74}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2fa'), 'index': 38, 'Country': 'Cape Verde', 'Code': 'CPV', 'Start_Period': '2020-03-21', 'Start_Period_Stringency': 43.52, 'End_Period': '2020-11-08', 'End_Period_Stringency': 71.3}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2fb'), 'index': 39, 'Country': 'Costa Rica', 'Code': 'CRI', 'Start_Period': '2020-03-07', 'Start_Period_Stringency': 11.11, 'End_Period': '2020-11-01', 'End_Period_Stringency': 55.56}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2fc'), 'index': 40, 'Country': 'Cuba', 'Code': 'CUB', 'Start_Period': '2020-03-12', 'Start_Period_Stringency': 13.89, 'End_Period': '2020-11-05', 'End_Period_Stringency': 57.41}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2fd'), 'index': 41, 'Country': 'Cayman Islands', 'Code': 'CYM', 'Start_Period': '2020-03-20', 'Start_Period_Stringency': 47.22, 'End_Period': '2020-07-01', 'End_Period_Stringency': 51.39}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2fe'), 'index': 42, 'Country': 'Cyprus', 'Code': 'CYP', 'Start_Period': '2020-03-10', 'Start_Period_Stringency': 22.22, 'End_Period': '2020-11-02', 'End_Period_Stringency': 63.89}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2ff'), 'index': 43, 'Country': 'Czech Republic', 'Code': 'CZE', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-07', 'End_Period_Stringency': 73.15}
{'_id': ObjectId('602da5ec6ceea44dd6cdf300'), 'index': 44, 'Country': 'Germany', 'Code': 'DEU', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 59.26}
{'_id': ObjectId('602da5ec6ceea44dd6cdf301'), 'index': 45, 'Country': 'Djibouti', 'Code': 'DJI', 'Start_Period': '2020-03-19', 'Start_Period_Stringency': 33.33, 'End_Period': '2020-11-08', 'End_Period_Stringency': 38.89}
{'_id': ObjectId('602da5ec6ceea44dd6cdf302'), 'index': 46, 'Country': 'Dominica', 'Code': 'DMA', 'Start_Period': '2020-03-23', 'Start_Period_Stringency': 25.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 27.78}
{'_id': ObjectId('602da5ec6ceea44dd6cdf303'), 'index': 47, 'Country': 'Denmark', 'Code': 'DNK', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-08', 'End_Period_Stringency': 39.81}
{'_id': ObjectId('602da5ec6ceea44dd6cdf304'), 'index': 48, 'Country': 'Dominican Republic', 'Code': 'DOM', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 64.81}
{'_id': ObjectId('602da5ec6ceea44dd6cdf305'), 'index': 49, 'Country': 'Algeria', 'Code': 'DZA', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 75.0}
{'_id': ObjectId('602da5ec6ceea44dd6cdf306'), 'index': 50, 'Country': 'Ecuador', 'Code': 'ECU', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 50.0}
{'_id': ObjectId('602da5ec6ceea44dd6cdf307'), 'index': 51, 'Country': 'Egypt', 'Code': 'EGY', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 60.19}
{'_id': ObjectId('602da5ec6ceea44dd6cdf308'), 'index': 52, 'Country': 'Eritrea', 'Code': 'ERI', 'Start_Period': '2020-03-22', 'Start_Period_Stringency': 22.22, 'End_Period': '2020-11-02', 'End_Period_Stringency': 81.48}
{'_id': ObjectId('602da5ec6ceea44dd6cdf309'), 'index': 53, 'Country': 'Spain', 'Code': 'ESP', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-04', 'End_Period_Stringency': 71.3}
{'_id': ObjectId('602da5ec6ceea44dd6cdf30a'), 'index': 54, 'Country': 'Estonia', 'Code': 'EST', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-08', 'End_Period_Stringency': 22.22}
{'_id': ObjectId('602da5ec6ceea44dd6cdf30b'), 'index': 55, 'Country': 'Ethiopia', 'Code': 'ETH', 'Start_Period': '2020-03-13', 'Start_Period_Stringency': 2.78, 'End_Period': '2020-11-09', 'End_Period_Stringency': 57.41}
{'_id': ObjectId('602da5ec6ceea44dd6cdf30c'), 'index': 56, 'Country': 'Finland', 'Code': 'FIN', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-08', 'End_Period_Stringency': 40.74}
{'_id': ObjectId('602da5ec6ceea44dd6cdf30d'), 'index': 57, 'Country': 'Fiji', 'Code': 'FJI', 'Start_Period': '2020-01-30', 'Start_Period_Stringency': 11.11, 'End_Period': '2020-11-09', 'End_Period_Stringency': 45.37}
{'_id': ObjectId('602da5ec6ceea44dd6cdf30e'), 'index': 58, 'Country': 'Falkland Islands', 'Code': 'FLK', 'Start_Period': '2020-04-04', 'Start_Period_Stringency': 68.52, 'End_Period': '2020-09-27', 'End_Period_Stringency': 19.44}
{'_id': ObjectId('602da5ec6ceea44dd6cdf30f'), 'index': 59, 'Country': 'France', 'Code': 'FRA', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 78.7}
{'_id': ObjectId('602da5ec6ceea44dd6cdf310'), 'index': 60, 'Country': 'Gabon', 'Code': 'GAB', 'Start_Period': '2020-03-13', 'Start_Period_Stringency': 33.33, 'End_Period': '2020-11-09', 'End_Period_Stringency': 69.44}
{'_id': ObjectId('602da5ec6ceea44dd6cdf311'), 'index': 61, 'Country': 'United Kingdom', 'Code': 'GBR', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-05', 'End_Period_Stringency': 75.0}
{'_id': ObjectId('602da5ec6ceea44dd6cdf312'), 'index': 62, 'Country': 'Georgia', 'Code': 'GEO', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-08', 'End_Period_Stringency': 55.56}
{'_id': ObjectId('602da5ec6ceea44dd6cdf313'), 'index': 63, 'Country': 'Ghana', 'Code': 'GHA', 'Start_Period': '2020-03-13', 'Start_Period_Stringency': 8.33, 'End_Period': '2020-11-09', 'End_Period_Stringency': 38.89}
{'_id': ObjectId('602da5ec6ceea44dd6cdf314'), 'index': 64, 'Country': 'Gibraltar', 'Code': 'GIB', 'Start_Period': '2020-03-20', 'Start_Period_Stringency': 73.15, 'End_Period': '2020-09-01', 'End_Period_Stringency': 44.44}
{'_id': ObjectId('602da5ec6ceea44dd6cdf315'), 'index': 65, 'Country': 'Guinea', 'Code': 'GIN', 'Start_Period': '2020-03-14', 'Start_Period_Stringency': 13.89, 'End_Period': '2020-11-09', 'End_Period_Stringency': 35.65}
{'_id': ObjectId('602da5ec6ceea44dd6cdf316'), 'index': 66, 'Country': 'Gambia', 'Code': 'GMB', 'Start_Period': '2020-03-18', 'Start_Period_Stringency': 45.37, 'End_Period': '2020-11-09', 'End_Period_Stringency': 56.48}
{'_id': ObjectId('602da5ec6ceea44dd6cdf317'), 'index': 67, 'Country': 'Greece', 'Code': 'GRC', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-10-29', 'End_Period_Stringency': 59.72}
{'_id': ObjectId('602da5ec6ceea44dd6cdf318'), 'index': 68, 'Country': 'Greenland', 'Code': 'GRL', 'Start_Period': '2020-03-20', 'Start_Period_Stringency': 72.22, 'End_Period': '2020-11-08', 'End_Period_Stringency': 34.26}
{'_id': ObjectId('602da5ec6ceea44dd6cdf319'), 'index': 69, 'Country': 'Guatemala', 'Code': 'GTM', 'Start_Period': '2020-02-17', 'Start_Period_Stringency': 11.11, 'End_Period': '2020-11-01', 'End_Period_Stringency': 49.54}
{'_id': ObjectId('602da5ec6ceea44dd6cdf31a'), 'index': 70, 'Country': 'Guam', 'Code': 'GUM', 'Start_Period': '2020-03-19', 'Start_Period_Stringency': 55.56, 'End_Period': '2020-11-09', 'End_Period_Stringency': 62.96}
{'_id': ObjectId('602da5ec6ceea44dd6cdf31b'), 'index': 71, 'Country': 'Guyana', 'Code': 'GUY', 'Start_Period': '2020-03-13', 'Start_Period_Stringency': 25.0, 'End_Period': '2020-11-08', 'End_Period_Stringency': 72.22}
{'_id': ObjectId('602da5ec6ceea44dd6cdf31c'), 'index': 72, 'Country': 'Hong Kong', 'Code': 'HKG', 'Start_Period': '2020-01-31', 'Start_Period_Stringency': 49.07, 'End_Period': '2020-11-03', 'End_Period_Stringency': 51.85}
{'_id': ObjectId('602da5ec6ceea44dd6cdf31d'), 'index': 73, 'Country': 'Honduras', 'Code': 'HND', 'Start_Period': '2020-03-12', 'Start_Period_Stringency': 11.11, 'End_Period': '2020-11-08', 'End_Period_Stringency': 75.93}
{'_id': ObjectId('602da5ec6ceea44dd6cdf31e'), 'index': 74, 'Country': 'Croatia', 'Code': 'HRV', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-07', 'End_Period_Stringency': 31.48}
{'_id': ObjectId('602da5ec6ceea44dd6cdf31f'), 'index': 75, 'Country': 'Haiti', 'Code': 'HTI', 'Start_Period': '2020-03-20', 'Start_Period_Stringency': 82.41, 'End_Period': '2020-11-09', 'End_Period_Stringency': 43.52}
{'_id': ObjectId('602da5ec6ceea44dd6cdf320'), 'index': 76, 'Country': 'Hungary', 'Code': 'HUN', 'Start_Period': '2020-03-04', 'Start_Period_Stringency': 11.11, 'End_Period': '2020-11-09', 'End_Period_Stringency': 57.41}
{'_id': ObjectId('602da5ec6ceea44dd6cdf321'), 'index': 77, 'Country': 'Indonesia', 'Code': 'IDN', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 50.46}
{'_id': ObjectId('602da5ec6ceea44dd6cdf322'), 'index': 78, 'Country': 'India', 'Code': 'IND', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-10', 'End_Period_Stringency': 61.57}
{'_id': ObjectId('602da5ec6ceea44dd6cdf323'), 'index': 79, 'Country': 'Ireland', 'Code': 'IRL', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-08', 'End_Period_Stringency': 81.48}
{'_id': ObjectId('602da5ec6ceea44dd6cdf324'), 'index': 80, 'Country': 'Iran', 'Code': 'IRN', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-10', 'End_Period_Stringency': 68.06}
{'_id': ObjectId('602da5ec6ceea44dd6cdf325'), 'index': 81, 'Country': 'Iraq', 'Code': 'IRQ', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-10-29', 'End_Period_Stringency': 51.85}
{'_id': ObjectId('602da5ec6ceea44dd6cdf326'), 'index': 82, 'Country': 'Iceland', 'Code': 'ISL', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-10-28', 'End_Period_Stringency': 45.37}
{'_id': ObjectId('602da5ec6ceea44dd6cdf327'), 'index': 83, 'Country': 'Israel', 'Code': 'ISR', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 65.74}
{'_id': ObjectId('602da5ec6ceea44dd6cdf328'), 'index': 84, 'Country': 'Italy', 'Code': 'ITA', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-09', 'End_Period_Stringency': 66.67}
{'_id': ObjectId('602da5ec6ceea44dd6cdf329'), 'index': 85, 'Country': 'Jamaica', 'Code': 'JAM', 'Start_Period': '2020-03-12', 'Start_Period_Stringency': 30.56, 'End_Period': '2020-11-09', 'End_Period_Stringency': 67.59}
{'_id': ObjectId('602da5ec6ceea44dd6cdf32a'), 'index': 86, 'Country': 'Jordan', 'Code': 'JOR', 'Start_Period': '2020-03-03', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-08', 'End_Period_Stringency': 75.93}
{'_id': ObjectId('602da5ec6ceea44dd6cdf32b'), 'index': 87, 'Country': 'Japan', 'Code': 'JPN', 'Start_Period': '2020-01-01', 'Start_Period_Stringency': 0.0, 'End_Period': '2020-11-07', 'End_Period_Stringency': 38.89}
{'_id': ObjectId('602da5ec6ceea44dd6cdf32c'), 'index': 88, 'Country': 'Kazakhstan', 'Code': 'KAZ', 'Start_Period': '2020-03-13', 'Start_Period_Stringency': 19.44, 'End_Period': '2020-11-08', 'End_Period_Stringency': 68.06}
{'_id': ObjectId('602da5ec6ceea44dd6cdf32d'), 'index': 89, 'Country': 'Kenya', 'Code': 'KEN', 'Start_Period': '2020-03-06', 'Start_Period_Stringency': 13.89, 'End_Period': '2020-10-31', 'End_Period_Stringency': 68.52}

In [20]:
# Display the MongoDB records created above
data_iterate = db.collection_xsdeath.find()

for record in data_iterate:
    print(record)

{'_id': ObjectId('602da5ec6ceea44dd6cdf389'), 'Jurisdiction': 'Alaska', 'deaths': '96', 'expected_deaths': '96', 'excess_deaths': '9', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf38a'), 'Jurisdiction': 'Arizona', 'deaths': '1938', 'expected_deaths': '1219', 'excess_deaths': '98', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf38b'), 'Jurisdiction': 'Arkansas', 'deaths': '759', 'expected_deaths': '676', 'excess_deaths': '97', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf38c'), 'Jurisdiction': 'California', 'deaths': '6252', 'expected_deaths': '5819', 'excess_deaths': '925', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf38d'), 'Jurisdiction': 'Colorado', 'deaths': '993', 'expected_deaths': '829', 'excess_deaths': '98', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf38e'), 'Jurisdiction': 'Connecticut', 'deaths': '941', 'expected_deaths': '683', 'excess_deaths': '82', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf38f'), 'Jurisdiction': 'Delaware', 'deaths': '282', 'expected_deaths': '206', 'excess_deaths': '95', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf390'), 'Jurisdiction': 'District of Columbia', 'deaths': '99', 'expected_deaths': '99', 'excess_deaths': '94', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf391'), 'Jurisdiction': 'Florida', 'deaths': '5682', 'expected_deaths': '4223', 'excess_deaths': '931', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf392'), 'Jurisdiction': 'Georgia', 'deaths': '2029', 'expected_deaths': '1783', 'excess_deaths': '97', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf393'), 'Jurisdiction': 'Hawaii', 'deaths': '275', 'expected_deaths': '249', 'excess_deaths': '9', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf394'), 'Jurisdiction': 'Idaho', 'deaths': '362', 'expected_deaths': '298', 'excess_deaths': '80', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf395'), 'Jurisdiction': 'Illinois', 'deaths': '3057', 'expected_deaths': '2396', 'excess_deaths': '964', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf396'), 'Jurisdiction': 'Indiana', 'deaths': '1616', 'expected_deaths': '1451', 'excess_deaths': '94', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf397'), 'Jurisdiction': 'Iowa', 'deaths': '697', 'expected_deaths': '688', 'excess_deaths': '96', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf398'), 'Jurisdiction': 'Kansas', 'deaths': '606', 'expected_deaths': '598', 'excess_deaths': '86', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf399'), 'Jurisdiction': 'Kentucky', 'deaths': '997', 'expected_deaths': '997', 'excess_deaths': '92', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf39a'), 'Jurisdiction': 'Louisiana', 'deaths': '982', 'expected_deaths': '970', 'excess_deaths': '94', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf39b'), 'Jurisdiction': 'Maine', 'deaths': '331', 'expected_deaths': '311', 'excess_deaths': '9', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf39c'), 'Jurisdiction': 'Maryland', 'deaths': '983', 'expected_deaths': '998', 'excess_deaths': '9', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf39d'), 'Jurisdiction': 'Massachusetts', 'deaths': '998', 'expected_deaths': '994', 'excess_deaths': '939', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf39e'), 'Jurisdiction': 'Michigan', 'deaths': '3398', 'expected_deaths': '2131', 'excess_deaths': '97', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf39f'), 'Jurisdiction': 'Minnesota', 'deaths': '994', 'expected_deaths': '957', 'excess_deaths': '96', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3a0'), 'Jurisdiction': 'Mississippi', 'deaths': '903', 'expected_deaths': '719', 'excess_deaths': '96', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3a1'), 'Jurisdiction': 'Missouri', 'deaths': '1420', 'expected_deaths': '1334', 'excess_deaths': '97', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3a2'), 'Jurisdiction': 'Montana', 'deaths': '238', 'expected_deaths': '229', 'excess_deaths': '41', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3a3'), 'Jurisdiction': 'Nebraska', 'deaths': '382', 'expected_deaths': '377', 'excess_deaths': '70', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3a4'), 'Jurisdiction': 'Nevada', 'deaths': '635', 'expected_deaths': '538', 'excess_deaths': '99', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3a5'), 'Jurisdiction': 'New Hampshire', 'deaths': '302', 'expected_deaths': '277', 'excess_deaths': '91', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3a6'), 'Jurisdiction': 'New Jersey', 'deaths': '4750', 'expected_deaths': '1627', 'excess_deaths': '925', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3a7'), 'Jurisdiction': 'New Mexico', 'deaths': '463', 'expected_deaths': '403', 'excess_deaths': '97', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3a8'), 'Jurisdiction': 'New York', 'deaths': '4524', 'expected_deaths': '2211', 'excess_deaths': '936', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3a9'), 'Jurisdiction': 'New York City', 'deaths': '992', 'expected_deaths': '999', 'excess_deaths': '9', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3aa'), 'Jurisdiction': 'North Carolina', 'deaths': '2086', 'expected_deaths': '1981', 'excess_deaths': '9', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3ab'), 'Jurisdiction': 'North Dakota', 'deaths': '92', 'expected_deaths': '137', 'excess_deaths': '9', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3ac'), 'Jurisdiction': 'Ohio', 'deaths': '2815', 'expected_deaths': '2696', 'excess_deaths': '89', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3ad'), 'Jurisdiction': 'Oklahoma', 'deaths': '919', 'expected_deaths': '878', 'excess_deaths': '93', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3ae'), 'Jurisdiction': 'Oregon', 'deaths': '797', 'expected_deaths': '780', 'excess_deaths': '87', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3af'), 'Jurisdiction': 'Pennsylvania', 'deaths': '3758', 'expected_deaths': '2971', 'excess_deaths': '919', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3b0'), 'Jurisdiction': 'Rhode Island', 'deaths': '371', 'expected_deaths': '220', 'excess_deaths': '97', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3b1'), 'Jurisdiction': 'South Carolina', 'deaths': '1358', 'expected_deaths': '997', 'excess_deaths': '95', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3b2'), 'Jurisdiction': 'South Dakota', 'deaths': '193', 'expected_deaths': '171', 'excess_deaths': '9', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3b3'), 'Jurisdiction': 'Tennessee', 'deaths': '1599', 'expected_deaths': '1506', 'excess_deaths': '98', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3b4'), 'Jurisdiction': 'Texas', 'deaths': '6077', 'expected_deaths': '4243', 'excess_deaths': '929', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3b5'), 'Jurisdiction': 'US', 'deaths': '78897', 'expected_deaths': '60980', 'excess_deaths': '9754', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3b6'), 'Jurisdiction': 'Utah', 'deaths': '434', 'expected_deaths': '390', 'excess_deaths': '97', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3b7'), 'Jurisdiction': 'Vermont', 'deaths': '99', 'expected_deaths': '99', 'excess_deaths': '8', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3b8'), 'Jurisdiction': 'Virginia', 'deaths': '1673', 'expected_deaths': '1484', 'excess_deaths': '86', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3b9'), 'Jurisdiction': 'Washington', 'deaths': '1320', 'expected_deaths': '989', 'excess_deaths': '82', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3ba'), 'Jurisdiction': 'West Virginia', 'deaths': '538', 'expected_deaths': '531', 'excess_deaths': '8', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3bb'), 'Jurisdiction': 'Wisconsin', 'deaths': '1243', 'expected_deaths': '997.5', 'excess_deaths': '97.5', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3bc'), 'Jurisdiction': 'Wyoming', 'deaths': '99', 'expected_deaths': '99', 'excess_deaths': '8', 'Country': 'United States'}

In [21]:
# Display the MongoDB records created above
data_iterate = db.collection_country.find()

for record in data_iterate:
    print(record)

{'_id': ObjectId('602da5ec6ceea44dd6cdf21f'), 'Code': 'ABW', 'Country': 'Aruba'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf220'), 'Code': 'AFG', 'Country': 'Afghanistan'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf221'), 'Code': 'AGO', 'Country': 'Angola'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf222'), 'Code': 'AIA', 'Country': 'Anguilla'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf223'), 'Code': 'ALB', 'Country': 'Albania'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf224'), 'Code': 'AND', 'Country': 'Andorra'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf225'), 'Code': 'ARE', 'Country': 'United Arab Emirates'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf226'), 'Code': 'ARG', 'Country': 'Argentina'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf227'), 'Code': 'AUS', 'Country': 'Australia'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf228'), 'Code': 'AUT', 'Country': 'Austria'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf229'), 'Code': 'AZE', 'Country': 'Azerbaijan'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf22a'), 'Code': 'BDI', 'Country': 'Burundi'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf22b'), 'Code': 'BEL', 'Country': 'Belgium'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf22c'), 'Code': 'BEN', 'Country': 'Benin'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf22d'), 'Code': 'BFA', 'Country': 'Burkina Faso'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf22e'), 'Code': 'BGD', 'Country': 'Bangladesh'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf22f'), 'Code': 'BGR', 'Country': 'Bulgaria'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf230'), 'Code': 'BHR', 'Country': 'Bahrain'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf231'), 'Code': 'BIH', 'Country': 'Bosnia and Herzegovina'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf232'), 'Code': 'BLR', 'Country': 'Belarus'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf233'), 'Code': 'BLZ', 'Country': 'Belize'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf234'), 'Code': 'BMU', 'Country': 'Bermuda'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf235'), 'Code': 'BOL', 'Country': 'Bolivia'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf236'), 'Code': 'BRA', 'Country': 'Brazil'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf237'), 'Code': 'BRB', 'Country': 'Barbados'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf238'), 'Code': 'BRN', 'Country': 'Brunei'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf239'), 'Code': 'BTN', 'Country': 'Bhutan'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf23a'), 'Code': 'BWA', 'Country': 'Botswana'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf23b'), 'Code': 'CAF', 'Country': 'Central African Republic'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf23c'), 'Code': 'CAN', 'Country': 'Canada'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf23d'), 'Code': 'CHE', 'Country': 'Switzerland'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf23e'), 'Code': 'CHL', 'Country': 'Chile'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf23f'), 'Code': 'CHN', 'Country': 'China'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf240'), 'Code': 'CIV', 'Country': "Cote d'Ivoire"}
{'_id': ObjectId('602da5ec6ceea44dd6cdf241'), 'Code': 'CMR', 'Country': 'Cameroon'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf242'), 'Code': 'COD', 'Country': 'Democratic Republic of Congo'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf243'), 'Code': 'COG', 'Country': 'Congo'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf244'), 'Code': 'COL', 'Country': 'Colombia'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf245'), 'Code': 'CPV', 'Country': 'Cape Verde'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf246'), 'Code': 'CRI', 'Country': 'Costa Rica'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf247'), 'Code': 'CUB', 'Country': 'Cuba'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf248'), 'Code': 'CYM', 'Country': 'Cayman Islands'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf249'), 'Code': 'CYP', 'Country': 'Cyprus'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf24a'), 'Code': 'CZE', 'Country': 'Czech Republic'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf24b'), 'Code': 'DEU', 'Country': 'Germany'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf24c'), 'Code': 'DJI', 'Country': 'Djibouti'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf24d'), 'Code': 'DMA', 'Country': 'Dominica'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf24e'), 'Code': 'DNK', 'Country': 'Denmark'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf24f'), 'Code': 'DOM', 'Country': 'Dominican Republic'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf250'), 'Code': 'DZA', 'Country': 'Algeria'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf251'), 'Code': 'ECU', 'Country': 'Ecuador'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf252'), 'Code': 'EGY', 'Country': 'Egypt'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf253'), 'Code': 'ERI', 'Country': 'Eritrea'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf254'), 'Code': 'ESP', 'Country': 'Spain'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf255'), 'Code': 'EST', 'Country': 'Estonia'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf256'), 'Code': 'ETH', 'Country': 'Ethiopia'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf257'), 'Code': 'FIN', 'Country': 'Finland'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf258'), 'Code': 'FJI', 'Country': 'Fiji'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf259'), 'Code': 'FLK', 'Country': 'Falkland Islands'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf25a'), 'Code': 'FRA', 'Country': 'France'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf25b'), 'Code': 'GAB', 'Country': 'Gabon'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf25c'), 'Code': 'GBR', 'Country': 'United Kingdom'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf25d'), 'Code': 'GEO', 'Country': 'Georgia'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf25e'), 'Code': 'GHA', 'Country': 'Ghana'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf25f'), 'Code': 'GIB', 'Country': 'Gibraltar'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf260'), 'Code': 'GIN', 'Country': 'Guinea'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf261'), 'Code': 'GMB', 'Country': 'Gambia'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf262'), 'Code': 'GRC', 'Country': 'Greece'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf263'), 'Code': 'GRL', 'Country': 'Greenland'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf264'), 'Code': 'GTM', 'Country': 'Guatemala'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf265'), 'Code': 'GUM', 'Country': 'Guam'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf266'), 'Code': 'GUY', 'Country': 'Guyana'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf267'), 'Code': 'HKG', 'Country': 'Hong Kong'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf268'), 'Code': 'HND', 'Country': 'Honduras'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf269'), 'Code': 'HRV', 'Country': 'Croatia'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf26a'), 'Code': 'HTI', 'Country': 'Haiti'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf26b'), 'Code': 'HUN', 'Country': 'Hungary'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf26c'), 'Code': 'IDN', 'Country': 'Indonesia'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf26d'), 'Code': 'IND', 'Country': 'India'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf26e'), 'Code': 'IRL', 'Country': 'Ireland'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf26f'), 'Code': 'IRN', 'Country': 'Iran'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf270'), 'Code': 'IRQ', 'Country': 'Iraq'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf271'), 'Code': 'ISL', 'Country': 'Iceland'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf272'), 'Code': 'ISR', 'Country': 'Israel'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf273'), 'Code': 'ITA', 'Country': 'Italy'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf274'), 'Code': 'JAM', 'Country': 'Jamaica'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf275'), 'Code': 'JOR', 'Country': 'Jordan'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf276'), 'Code': 'JPN', 'Country': 'Japan'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf277'), 'Code': 'KAZ', 'Country': 'Kazakhstan'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf278'), 'Code': 'KEN', 'Country': 'Kenya'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf279'), 'Code': 'KGZ', 'Country': 'Kyrgyzstan'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf27a'), 'Code': 'KHM', 'Country': 'Cambodia'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf27b'), 'Code': 'KOR', 'Country': 'South Korea'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf27c'), 'Code': 'KWT', 'Country': 'Kuwait'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf27d'), 'Code': 'LAO', 'Country': 'Laos'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf27e'), 'Code': 'LBN', 'Country': 'Lebanon'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf27f'), 'Code': 'LBR', 'Country': 'Liberia'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf280'), 'Code': 'LBY', 'Country': 'Libya'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf281'), 'Code': 'LKA', 'Country': 'Sri Lanka'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf282'), 'Code': 'LSO', 'Country': 'Lesotho'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf283'), 'Code': 'LTU', 'Country': 'Lithuania'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf284'), 'Code': 'LUX', 'Country': 'Luxembourg'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf285'), 'Code': 'LVA', 'Country': 'Latvia'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf286'), 'Code': 'MAR', 'Country': 'Morocco'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf287'), 'Code': 'MDA', 'Country': 'Moldova'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf288'), 'Code': 'MDG', 'Country': 'Madagascar'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf289'), 'Code': 'MEX', 'Country': 'Mexico'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf28a'), 'Code': 'MLI', 'Country': 'Mali'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf28b'), 'Code': 'MMR', 'Country': 'Myanmar'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf28c'), 'Code': 'MNG', 'Country': 'Mongolia'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf28d'), 'Code': 'MOZ', 'Country': 'Mozambique'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf28e'), 'Code': 'MRT', 'Country': 'Mauritania'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf28f'), 'Code': 'MSR', 'Country': 'Montserrat'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf290'), 'Code': 'MUS', 'Country': 'Mauritius'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf291'), 'Code': 'MWI', 'Country': 'Malawi'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf292'), 'Code': 'MYS', 'Country': 'Malaysia'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf293'), 'Code': 'NAM', 'Country': 'Namibia'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf294'), 'Code': 'NER', 'Country': 'Niger'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf295'), 'Code': 'NGA', 'Country': 'Nigeria'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf296'), 'Code': 'NIC', 'Country': 'Nicaragua'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf297'), 'Code': 'NLD', 'Country': 'Netherlands'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf298'), 'Code': 'NOR', 'Country': 'Norway'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf299'), 'Code': 'NPL', 'Country': 'Nepal'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf29a'), 'Code': 'NZL', 'Country': 'New Zealand'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf29b'), 'Code': 'OMN', 'Country': 'Oman'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf29c'), 'Code': 'PAK', 'Country': 'Pakistan'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf29d'), 'Code': 'PAN', 'Country': 'Panama'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf29e'), 'Code': 'PER', 'Country': 'Peru'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf29f'), 'Code': 'PHL', 'Country': 'Philippines'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2a0'), 'Code': 'PNG', 'Country': 'Papua New Guinea'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2a1'), 'Code': 'POL', 'Country': 'Poland'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2a2'), 'Code': 'PRI', 'Country': 'Puerto Rico'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2a3'), 'Code': 'PRT', 'Country': 'Portugal'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2a4'), 'Code': 'PRY', 'Country': 'Paraguay'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2a5'), 'Code': 'PSE', 'Country': 'Palestine'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2a6'), 'Code': 'QAT', 'Country': 'Qatar'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2a7'), 'Code': 'ROU', 'Country': 'Romania'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2a8'), 'Code': 'RUS', 'Country': 'Russia'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2a9'), 'Code': 'RWA', 'Country': 'Rwanda'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2aa'), 'Code': 'SAU', 'Country': 'Saudi Arabia'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2ab'), 'Code': 'SDN', 'Country': 'Sudan'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2ac'), 'Code': 'SEN', 'Country': 'Senegal'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2ad'), 'Code': 'SGP', 'Country': 'Singapore'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2ae'), 'Code': 'SLB', 'Country': 'Solomon Islands'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2af'), 'Code': 'SLE', 'Country': 'Sierra Leone'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2b0'), 'Code': 'SLV', 'Country': 'El Salvador'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2b1'), 'Code': 'SMR', 'Country': 'San Marino'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2b2'), 'Code': 'SOM', 'Country': 'Somalia'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2b3'), 'Code': 'SRB', 'Country': 'Serbia'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2b4'), 'Code': 'SSD', 'Country': 'South Sudan'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2b5'), 'Code': 'SUR', 'Country': 'Suriname'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2b6'), 'Code': 'SVK', 'Country': 'Slovakia'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2b7'), 'Code': 'SVN', 'Country': 'Slovenia'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2b8'), 'Code': 'SWE', 'Country': 'Sweden'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2b9'), 'Code': 'SWZ', 'Country': 'Swaziland'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2ba'), 'Code': 'SYC', 'Country': 'Seychelles'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2bb'), 'Code': 'SYR', 'Country': 'Syria'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2bc'), 'Code': 'TCA', 'Country': 'Turks and Caicos Islands'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2bd'), 'Code': 'TCD', 'Country': 'Chad'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2be'), 'Code': 'TGO', 'Country': 'Togo'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2bf'), 'Code': 'THA', 'Country': 'Thailand'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2c0'), 'Code': 'TJK', 'Country': 'Tajikistan'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2c1'), 'Code': 'TLS', 'Country': 'Timor'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2c2'), 'Code': 'TTO', 'Country': 'Trinidad and Tobago'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2c3'), 'Code': 'TUN', 'Country': 'Tunisia'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2c4'), 'Code': 'TUR', 'Country': 'Turkey'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2c5'), 'Code': 'TWN', 'Country': 'Taiwan'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2c6'), 'Code': 'TZA', 'Country': 'Tanzania'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2c7'), 'Code': 'UGA', 'Country': 'Uganda'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2c8'), 'Code': 'UKR', 'Country': 'Ukraine'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2c9'), 'Code': 'URY', 'Country': 'Uruguay'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2ca'), 'Code': 'USA', 'Country': 'United States'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2cb'), 'Code': 'UZB', 'Country': 'Uzbekistan'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2cc'), 'Code': 'VEN', 'Country': 'Venezuela'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2cd'), 'Code': 'VGB', 'Country': 'British Virgin Islands'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2ce'), 'Code': 'VNM', 'Country': 'Vietnam'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2cf'), 'Code': 'OWID_KOS', 'Country': 'Kosovo'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2d0'), 'Code': 'YEM', 'Country': 'Yemen'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2d1'), 'Code': 'ZAF', 'Country': 'South Africa'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2d2'), 'Code': 'ZMB', 'Country': 'Zambia'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf2d3'), 'Code': 'ZWE', 'Country': 'Zimbabwe'}

In [22]:
# Display the MongoDB records created above
data_iterate = db.collection_unemployment.find()

for record in data_iterate:
    print(record)

{'_id': ObjectId('602da5ec6ceea44dd6cdf3bd'), 'index': 0, 'Date': '2020-03-31', 'Country': 'Australia', 'Unemployment Rate': 5.2201010000000005}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3be'), 'index': 1, 'Date': '2020-03-31', 'Country': 'Austria', 'Unemployment Rate': 4.6}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3bf'), 'index': 2, 'Date': '2020-03-31', 'Country': 'Belgium', 'Unemployment Rate': 5.0}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3c0'), 'index': 3, 'Date': '2020-03-31', 'Country': 'Canada', 'Unemployment Rate': 7.8}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3c1'), 'index': 4, 'Date': '2020-03-31', 'Country': 'Chile', 'Unemployment Rate': 9.061919}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3c2'), 'index': 5, 'Date': '2020-03-31', 'Country': 'Colombia', 'Unemployment Rate': 12.19014}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3c3'), 'index': 6, 'Date': '2020-03-31', 'Country': 'Czechia', 'Unemployment Rate': 2.1}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3c4'), 'index': 7, 'Date': '2020-03-31', 'Country': 'Denmark', 'Unemployment Rate': 4.8}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3c5'), 'index': 8, 'Date': '2020-03-31', 'Country': 'Estonia', 'Unemployment Rate': 4.8}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3c6'), 'index': 9, 'Date': '2020-03-31', 'Country': 'Finland', 'Unemployment Rate': 6.7}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3c7'), 'index': 10, 'Date': '2020-03-31', 'Country': 'France', 'Unemployment Rate': 7.5}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3c8'), 'index': 11, 'Date': '2020-03-31', 'Country': 'Germany', 'Unemployment Rate': 3.8}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3c9'), 'index': 12, 'Date': '2020-03-31', 'Country': 'Greece', 'Unemployment Rate': 14.3}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3ca'), 'index': 13, 'Date': '2020-03-31', 'Country': 'Hungary', 'Unemployment Rate': 3.7}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3cb'), 'index': 14, 'Date': '2020-03-31', 'Country': 'Iceland', 'Unemployment Rate': 3.5}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3cc'), 'index': 15, 'Date': '2020-03-31', 'Country': 'Ireland', 'Unemployment Rate': 5.0}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3cd'), 'index': 16, 'Date': '2020-03-31', 'Country': 'Israel', 'Unemployment Rate': 3.6105940000000003}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3ce'), 'index': 17, 'Date': '2020-03-31', 'Country': 'Italy', 'Unemployment Rate': 8.5}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3cf'), 'index': 18, 'Date': '2020-03-31', 'Country': 'Japan', 'Unemployment Rate': 2.5}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3d0'), 'index': 19, 'Date': '2020-03-31', 'Country': 'South Korea', 'Unemployment Rate': 3.8}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3d1'), 'index': 20, 'Date': '2020-03-31', 'Country': 'Latvia', 'Unemployment Rate': 7.2}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3d2'), 'index': 21, 'Date': '2020-03-31', 'Country': 'Lithuania', 'Unemployment Rate': 6.6}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3d3'), 'index': 22, 'Date': '2020-03-31', 'Country': 'Luxembourg', 'Unemployment Rate': 6.5}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3d4'), 'index': 23, 'Date': '2020-03-31', 'Country': 'Mexico', 'Unemployment Rate': 3.249323}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3d5'), 'index': 24, 'Date': '2020-03-31', 'Country': 'Netherlands', 'Unemployment Rate': 2.9}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3d6'), 'index': 25, 'Date': '2020-03-31', 'Country': 'Norway', 'Unemployment Rate': 3.6}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3d7'), 'index': 26, 'Date': '2020-03-31', 'Country': 'Poland', 'Unemployment Rate': 3.0}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3d8'), 'index': 27, 'Date': '2020-03-31', 'Country': 'Portugal', 'Unemployment Rate': 6.2}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3d9'), 'index': 28, 'Date': '2020-03-31', 'Country': 'Slovakia', 'Unemployment Rate': 6.0}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3da'), 'index': 29, 'Date': '2020-03-31', 'Country': 'Slovenia', 'Unemployment Rate': 4.5}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3db'), 'index': 30, 'Date': '2020-03-31', 'Country': 'Spain', 'Unemployment Rate': 14.4}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3dc'), 'index': 31, 'Date': '2020-03-31', 'Country': 'Sweden', 'Unemployment Rate': 6.8}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3dd'), 'index': 32, 'Date': '2020-03-31', 'Country': 'Turkey', 'Unemployment Rate': 12.9}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3de'), 'index': 33, 'Date': '2020-03-31', 'Country': 'United Kingdom', 'Unemployment Rate': 3.8}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3df'), 'index': 34, 'Date': '2020-03-31', 'Country': 'United States', 'Unemployment Rate': 4.4}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3e0'), 'index': 35, 'Date': '2020-04-30', 'Country': 'Australia', 'Unemployment Rate': 6.358871}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3e1'), 'index': 36, 'Date': '2020-04-30', 'Country': 'Austria', 'Unemployment Rate': 4.7}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3e2'), 'index': 37, 'Date': '2020-04-30', 'Country': 'Belgium', 'Unemployment Rate': 5.1}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3e3'), 'index': 38, 'Date': '2020-04-30', 'Country': 'Canada', 'Unemployment Rate': 13.0}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3e4'), 'index': 39, 'Date': '2020-04-30', 'Country': 'Chile', 'Unemployment Rate': 10.88862}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3e5'), 'index': 40, 'Date': '2020-04-30', 'Country': 'Colombia', 'Unemployment Rate': 20.23626}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3e6'), 'index': 41, 'Date': '2020-04-30', 'Country': 'Czechia', 'Unemployment Rate': 2.2}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3e7'), 'index': 42, 'Date': '2020-04-30', 'Country': 'Denmark', 'Unemployment Rate': 4.9}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3e8'), 'index': 43, 'Date': '2020-04-30', 'Country': 'Estonia', 'Unemployment Rate': 6.0}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3e9'), 'index': 44, 'Date': '2020-04-30', 'Country': 'Finland', 'Unemployment Rate': 7.3}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3ea'), 'index': 45, 'Date': '2020-04-30', 'Country': 'France', 'Unemployment Rate': 7.8}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3eb'), 'index': 46, 'Date': '2020-04-30', 'Country': 'Germany', 'Unemployment Rate': 4.0}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3ec'), 'index': 47, 'Date': '2020-04-30', 'Country': 'Greece', 'Unemployment Rate': 15.9}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3ed'), 'index': 48, 'Date': '2020-04-30', 'Country': 'Hungary', 'Unemployment Rate': 4.1}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3ee'), 'index': 49, 'Date': '2020-04-30', 'Country': 'Iceland', 'Unemployment Rate': 3.9}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3ef'), 'index': 50, 'Date': '2020-04-30', 'Country': 'Ireland', 'Unemployment Rate': 4.8}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3f0'), 'index': 51, 'Date': '2020-04-30', 'Country': 'Israel', 'Unemployment Rate': 3.6862699999999995}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3f1'), 'index': 52, 'Date': '2020-04-30', 'Country': 'Italy', 'Unemployment Rate': 7.3}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3f2'), 'index': 53, 'Date': '2020-04-30', 'Country': 'Japan', 'Unemployment Rate': 2.6}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3f3'), 'index': 54, 'Date': '2020-04-30', 'Country': 'South Korea', 'Unemployment Rate': 3.8}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3f4'), 'index': 55, 'Date': '2020-04-30', 'Country': 'Latvia', 'Unemployment Rate': 8.2}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3f5'), 'index': 56, 'Date': '2020-04-30', 'Country': 'Lithuania', 'Unemployment Rate': 7.8}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3f6'), 'index': 57, 'Date': '2020-04-30', 'Country': 'Luxembourg', 'Unemployment Rate': 7.4}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3f7'), 'index': 58, 'Date': '2020-04-30', 'Country': 'Mexico', 'Unemployment Rate': 4.804397}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3f8'), 'index': 59, 'Date': '2020-04-30', 'Country': 'Netherlands', 'Unemployment Rate': 3.4}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3f9'), 'index': 60, 'Date': '2020-04-30', 'Country': 'Norway', 'Unemployment Rate': 4.1}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3fa'), 'index': 61, 'Date': '2020-04-30', 'Country': 'Poland', 'Unemployment Rate': 3.2}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3fb'), 'index': 62, 'Date': '2020-04-30', 'Country': 'Portugal', 'Unemployment Rate': 6.3}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3fc'), 'index': 63, 'Date': '2020-04-30', 'Country': 'Slovakia', 'Unemployment Rate': 6.7}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3fd'), 'index': 64, 'Date': '2020-04-30', 'Country': 'Slovenia', 'Unemployment Rate': 5.4}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3fe'), 'index': 65, 'Date': '2020-04-30', 'Country': 'Spain', 'Unemployment Rate': 15.1}
{'_id': ObjectId('602da5ec6ceea44dd6cdf3ff'), 'index': 66, 'Date': '2020-04-30', 'Country': 'Sweden', 'Unemployment Rate': 7.9}
{'_id': ObjectId('602da5ec6ceea44dd6cdf400'), 'index': 67, 'Date': '2020-04-30', 'Country': 'Turkey', 'Unemployment Rate': 13.6}
{'_id': ObjectId('602da5ec6ceea44dd6cdf401'), 'index': 68, 'Date': '2020-04-30', 'Country': 'United Kingdom', 'Unemployment Rate': 3.7}
{'_id': ObjectId('602da5ec6ceea44dd6cdf402'), 'index': 69, 'Date': '2020-04-30', 'Country': 'United States', 'Unemployment Rate': 14.7}
{'_id': ObjectId('602da5ec6ceea44dd6cdf403'), 'index': 70, 'Date': '2020-05-31', 'Country': 'Australia', 'Unemployment Rate': 7.068942}
{'_id': ObjectId('602da5ec6ceea44dd6cdf404'), 'index': 71, 'Date': '2020-05-31', 'Country': 'Austria', 'Unemployment Rate': 5.7}
{'_id': ObjectId('602da5ec6ceea44dd6cdf405'), 'index': 72, 'Date': '2020-05-31', 'Country': 'Belgium', 'Unemployment Rate': 5.0}
{'_id': ObjectId('602da5ec6ceea44dd6cdf406'), 'index': 73, 'Date': '2020-05-31', 'Country': 'Canada', 'Unemployment Rate': 13.7}
{'_id': ObjectId('602da5ec6ceea44dd6cdf407'), 'index': 74, 'Date': '2020-05-31', 'Country': 'Chile', 'Unemployment Rate': 11.7563}
{'_id': ObjectId('602da5ec6ceea44dd6cdf408'), 'index': 75, 'Date': '2020-05-31', 'Country': 'Colombia', 'Unemployment Rate': 21.13438}
{'_id': ObjectId('602da5ec6ceea44dd6cdf409'), 'index': 76, 'Date': '2020-05-31', 'Country': 'Czechia', 'Unemployment Rate': 2.4}
{'_id': ObjectId('602da5ec6ceea44dd6cdf40a'), 'index': 77, 'Date': '2020-05-31', 'Country': 'Denmark', 'Unemployment Rate': 5.5}
{'_id': ObjectId('602da5ec6ceea44dd6cdf40b'), 'index': 78, 'Date': '2020-05-31', 'Country': 'Estonia', 'Unemployment Rate': 7.0}
{'_id': ObjectId('602da5ec6ceea44dd6cdf40c'), 'index': 79, 'Date': '2020-05-31', 'Country': 'Finland', 'Unemployment Rate': 8.0}
{'_id': ObjectId('602da5ec6ceea44dd6cdf40d'), 'index': 80, 'Date': '2020-05-31', 'Country': 'France', 'Unemployment Rate': 6.9}
{'_id': ObjectId('602da5ec6ceea44dd6cdf40e'), 'index': 81, 'Date': '2020-05-31', 'Country': 'Germany', 'Unemployment Rate': 4.2}
{'_id': ObjectId('602da5ec6ceea44dd6cdf40f'), 'index': 82, 'Date': '2020-05-31', 'Country': 'Greece', 'Unemployment Rate': 17.1}
{'_id': ObjectId('602da5ec6ceea44dd6cdf410'), 'index': 83, 'Date': '2020-05-31', 'Country': 'Hungary', 'Unemployment Rate': 4.8}
{'_id': ObjectId('602da5ec6ceea44dd6cdf411'), 'index': 84, 'Date': '2020-05-31', 'Country': 'Iceland', 'Unemployment Rate': 4.5}
{'_id': ObjectId('602da5ec6ceea44dd6cdf412'), 'index': 85, 'Date': '2020-05-31', 'Country': 'Ireland', 'Unemployment Rate': 4.8}
{'_id': ObjectId('602da5ec6ceea44dd6cdf413'), 'index': 86, 'Date': '2020-05-31', 'Country': 'Israel', 'Unemployment Rate': 4.272801}
{'_id': ObjectId('602da5ec6ceea44dd6cdf414'), 'index': 87, 'Date': '2020-05-31', 'Country': 'Italy', 'Unemployment Rate': 8.7}
{'_id': ObjectId('602da5ec6ceea44dd6cdf415'), 'index': 88, 'Date': '2020-05-31', 'Country': 'Japan', 'Unemployment Rate': 2.9}
{'_id': ObjectId('602da5ec6ceea44dd6cdf416'), 'index': 89, 'Date': '2020-05-31', 'Country': 'South Korea', 'Unemployment Rate': 4.5}
{'_id': ObjectId('602da5ec6ceea44dd6cdf417'), 'index': 90, 'Date': '2020-05-31', 'Country': 'Latvia', 'Unemployment Rate': 8.7}
{'_id': ObjectId('602da5ec6ceea44dd6cdf418'), 'index': 91, 'Date': '2020-05-31', 'Country': 'Lithuania', 'Unemployment Rate': 8.5}
{'_id': ObjectId('602da5ec6ceea44dd6cdf419'), 'index': 92, 'Date': '2020-05-31', 'Country': 'Luxembourg', 'Unemployment Rate': 7.6}
{'_id': ObjectId('602da5ec6ceea44dd6cdf41a'), 'index': 93, 'Date': '2020-05-31', 'Country': 'Mexico', 'Unemployment Rate': 4.309024}
{'_id': ObjectId('602da5ec6ceea44dd6cdf41b'), 'index': 94, 'Date': '2020-05-31', 'Country': 'Netherlands', 'Unemployment Rate': 3.6}
{'_id': ObjectId('602da5ec6ceea44dd6cdf41c'), 'index': 95, 'Date': '2020-05-31', 'Country': 'Norway', 'Unemployment Rate': 4.6}
{'_id': ObjectId('602da5ec6ceea44dd6cdf41d'), 'index': 96, 'Date': '2020-05-31', 'Country': 'Poland', 'Unemployment Rate': 3.3}
{'_id': ObjectId('602da5ec6ceea44dd6cdf41e'), 'index': 97, 'Date': '2020-05-31', 'Country': 'Portugal', 'Unemployment Rate': 5.9}
{'_id': ObjectId('602da5ec6ceea44dd6cdf41f'), 'index': 98, 'Date': '2020-05-31', 'Country': 'Slovakia', 'Unemployment Rate': 6.8}
{'_id': ObjectId('602da5ec6ceea44dd6cdf420'), 'index': 99, 'Date': '2020-05-31', 'Country': 'Slovenia', 'Unemployment Rate': 5.5}
{'_id': ObjectId('602da5ec6ceea44dd6cdf421'), 'index': 100, 'Date': '2020-05-31', 'Country': 'Spain', 'Unemployment Rate': 15.3}
{'_id': ObjectId('602da5ec6ceea44dd6cdf422'), 'index': 101, 'Date': '2020-05-31', 'Country': 'Sweden', 'Unemployment Rate': 8.4}
{'_id': ObjectId('602da5ec6ceea44dd6cdf423'), 'index': 102, 'Date': '2020-05-31', 'Country': 'Turkey', 'Unemployment Rate': 14.0}
{'_id': ObjectId('602da5ec6ceea44dd6cdf424'), 'index': 103, 'Date': '2020-05-31', 'Country': 'United Kingdom', 'Unemployment Rate': 3.7}
{'_id': ObjectId('602da5ec6ceea44dd6cdf425'), 'index': 104, 'Date': '2020-05-31', 'Country': 'United States', 'Unemployment Rate': 13.3}
{'_id': ObjectId('602da5ec6ceea44dd6cdf426'), 'index': 105, 'Date': '2020-06-30', 'Country': 'Australia', 'Unemployment Rate': 7.440282000000001}
{'_id': ObjectId('602da5ec6ceea44dd6cdf427'), 'index': 106, 'Date': '2020-06-30', 'Country': 'Austria', 'Unemployment Rate': 5.9}
{'_id': ObjectId('602da5ec6ceea44dd6cdf428'), 'index': 107, 'Date': '2020-06-30', 'Country': 'Belgium', 'Unemployment Rate': 5.0}
{'_id': ObjectId('602da5ec6ceea44dd6cdf429'), 'index': 108, 'Date': '2020-06-30', 'Country': 'Canada', 'Unemployment Rate': 12.3}
{'_id': ObjectId('602da5ec6ceea44dd6cdf42a'), 'index': 109, 'Date': '2020-06-30', 'Country': 'Chile', 'Unemployment Rate': 12.32599}
{'_id': ObjectId('602da5ec6ceea44dd6cdf42b'), 'index': 110, 'Date': '2020-06-30', 'Country': 'Colombia', 'Unemployment Rate': 20.62735}
{'_id': ObjectId('602da5ec6ceea44dd6cdf42c'), 'index': 111, 'Date': '2020-06-30', 'Country': 'Czechia', 'Unemployment Rate': 2.7}
{'_id': ObjectId('602da5ec6ceea44dd6cdf42d'), 'index': 112, 'Date': '2020-06-30', 'Country': 'Denmark', 'Unemployment Rate': 6.0}
{'_id': ObjectId('602da5ec6ceea44dd6cdf42e'), 'index': 113, 'Date': '2020-06-30', 'Country': 'Estonia', 'Unemployment Rate': 8.0}
{'_id': ObjectId('602da5ec6ceea44dd6cdf42f'), 'index': 114, 'Date': '2020-06-30', 'Country': 'Finland', 'Unemployment Rate': 7.9}
{'_id': ObjectId('602da5ec6ceea44dd6cdf430'), 'index': 115, 'Date': '2020-06-30', 'Country': 'France', 'Unemployment Rate': 6.6}
{'_id': ObjectId('602da5ec6ceea44dd6cdf431'), 'index': 116, 'Date': '2020-06-30', 'Country': 'Germany', 'Unemployment Rate': 4.4}
{'_id': ObjectId('602da5ec6ceea44dd6cdf432'), 'index': 117, 'Date': '2020-06-30', 'Country': 'Greece', 'Unemployment Rate': 18.0}
{'_id': ObjectId('602da5ec6ceea44dd6cdf433'), 'index': 118, 'Date': '2020-06-30', 'Country': 'Hungary', 'Unemployment Rate': 4.9}
{'_id': ObjectId('602da5ec6ceea44dd6cdf434'), 'index': 119, 'Date': '2020-06-30', 'Country': 'Iceland', 'Unemployment Rate': 4.5}
{'_id': ObjectId('602da5ec6ceea44dd6cdf435'), 'index': 120, 'Date': '2020-06-30', 'Country': 'Ireland', 'Unemployment Rate': 5.0}
{'_id': ObjectId('602da5ec6ceea44dd6cdf436'), 'index': 121, 'Date': '2020-06-30', 'Country': 'Israel', 'Unemployment Rate': 4.6043769999999995}
{'_id': ObjectId('602da5ec6ceea44dd6cdf437'), 'index': 122, 'Date': '2020-06-30', 'Country': 'Italy', 'Unemployment Rate': 9.4}
{'_id': ObjectId('602da5ec6ceea44dd6cdf438'), 'index': 123, 'Date': '2020-06-30', 'Country': 'Japan', 'Unemployment Rate': 2.8}
{'_id': ObjectId('602da5ec6ceea44dd6cdf439'), 'index': 124, 'Date': '2020-06-30', 'Country': 'South Korea', 'Unemployment Rate': 4.3}
{'_id': ObjectId('602da5ec6ceea44dd6cdf43a'), 'index': 125, 'Date': '2020-06-30', 'Country': 'Latvia', 'Unemployment Rate': 8.9}
{'_id': ObjectId('602da5ec6ceea44dd6cdf43b'), 'index': 126, 'Date': '2020-06-30', 'Country': 'Lithuania', 'Unemployment Rate': 8.8}
{'_id': ObjectId('602da5ec6ceea44dd6cdf43c'), 'index': 127, 'Date': '2020-06-30', 'Country': 'Luxembourg', 'Unemployment Rate': 7.6}
{'_id': ObjectId('602da5ec6ceea44dd6cdf43d'), 'index': 128, 'Date': '2020-06-30', 'Country': 'Mexico', 'Unemployment Rate': 5.506817}
{'_id': ObjectId('602da5ec6ceea44dd6cdf43e'), 'index': 129, 'Date': '2020-06-30', 'Country': 'Netherlands', 'Unemployment Rate': 4.3}
{'_id': ObjectId('602da5ec6ceea44dd6cdf43f'), 'index': 130, 'Date': '2020-06-30', 'Country': 'Norway', 'Unemployment Rate': 5.2}
{'_id': ObjectId('602da5ec6ceea44dd6cdf440'), 'index': 131, 'Date': '2020-06-30', 'Country': 'Poland', 'Unemployment Rate': 3.3}
{'_id': ObjectId('602da5ec6ceea44dd6cdf441'), 'index': 132, 'Date': '2020-06-30', 'Country': 'Portugal', 'Unemployment Rate': 7.3}
{'_id': ObjectId('602da5ec6ceea44dd6cdf442'), 'index': 133, 'Date': '2020-06-30', 'Country': 'Slovakia', 'Unemployment Rate': 6.7}
{'_id': ObjectId('602da5ec6ceea44dd6cdf443'), 'index': 134, 'Date': '2020-06-30', 'Country': 'Slovenia', 'Unemployment Rate': 5.3}
{'_id': ObjectId('602da5ec6ceea44dd6cdf444'), 'index': 135, 'Date': '2020-06-30', 'Country': 'Spain', 'Unemployment Rate': 16.0}
{'_id': ObjectId('602da5ec6ceea44dd6cdf445'), 'index': 136, 'Date': '2020-06-30', 'Country': 'Sweden', 'Unemployment Rate': 9.2}
{'_id': ObjectId('602da5ec6ceea44dd6cdf446'), 'index': 137, 'Date': '2020-06-30', 'Country': 'Turkey', 'Unemployment Rate': 14.3}
{'_id': ObjectId('602da5ec6ceea44dd6cdf447'), 'index': 138, 'Date': '2020-06-30', 'Country': 'United Kingdom', 'Unemployment Rate': 3.9}
{'_id': ObjectId('602da5ec6ceea44dd6cdf448'), 'index': 139, 'Date': '2020-06-30', 'Country': 'United States', 'Unemployment Rate': 11.1}
{'_id': ObjectId('602da5ec6ceea44dd6cdf449'), 'index': 140, 'Date': '2020-07-31', 'Country': 'Australia', 'Unemployment Rate': 7.479592}
{'_id': ObjectId('602da5ec6ceea44dd6cdf44a'), 'index': 141, 'Date': '2020-07-31', 'Country': 'Austria', 'Unemployment Rate': 5.6}
{'_id': ObjectId('602da5ec6ceea44dd6cdf44b'), 'index': 142, 'Date': '2020-07-31', 'Country': 'Belgium', 'Unemployment Rate': 5.0}
{'_id': ObjectId('602da5ec6ceea44dd6cdf44c'), 'index': 143, 'Date': '2020-07-31', 'Country': 'Canada', 'Unemployment Rate': 10.9}
{'_id': ObjectId('602da5ec6ceea44dd6cdf44d'), 'index': 144, 'Date': '2020-07-31', 'Country': 'Chile', 'Unemployment Rate': 12.28694}
{'_id': ObjectId('602da5ec6ceea44dd6cdf44e'), 'index': 145, 'Date': '2020-07-31', 'Country': 'Colombia', 'Unemployment Rate': 19.65521}
{'_id': ObjectId('602da5ec6ceea44dd6cdf44f'), 'index': 146, 'Date': '2020-07-31', 'Country': 'Czechia', 'Unemployment Rate': 2.7}
{'_id': ObjectId('602da5ec6ceea44dd6cdf450'), 'index': 147, 'Date': '2020-07-31', 'Country': 'Denmark', 'Unemployment Rate': 6.3}
{'_id': ObjectId('602da5ec6ceea44dd6cdf451'), 'index': 148, 'Date': '2020-07-31', 'Country': 'Estonia', 'Unemployment Rate': 7.8}
{'_id': ObjectId('602da5ec6ceea44dd6cdf452'), 'index': 149, 'Date': '2020-07-31', 'Country': 'Finland', 'Unemployment Rate': 8.6}
{'_id': ObjectId('602da5ec6ceea44dd6cdf453'), 'index': 150, 'Date': '2020-07-31', 'Country': 'France', 'Unemployment Rate': 7.1}
{'_id': ObjectId('602da5ec6ceea44dd6cdf454'), 'index': 151, 'Date': '2020-07-31', 'Country': 'Germany', 'Unemployment Rate': 4.5}

In [23]:
# Display the MongoDB records created above
data_iterate = db.collection_influenza.find()

for record in data_iterate:
    print(record)

{'_id': ObjectId('602da5ec6ceea44dd6cdf4a8'), 'Jurisdiction': 'Alabama', 'COVID-19_Deaths': 3943.0, 'Total_Deaths': 44469.0, 'Pneumonia_Influenza_Deaths': 3652.0, 'STATE': 'AL', 'LATITUDE': 32.318231, 'LONGITUDE': -86.902298, 'NAME': 'Alabama'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4a9'), 'Jurisdiction': 'Alaska', 'COVID-19_Deaths': 0.0, 'Total_Deaths': 3174.0, 'Pneumonia_Influenza_Deaths': 0.0, 'STATE': 'AK', 'LATITUDE': 63.588753000000004, 'LONGITUDE': -154.493062, 'NAME': 'Alaska'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4aa'), 'Jurisdiction': 'Arizona', 'COVID-19_Deaths': 5188.0, 'Total_Deaths': 53617.0, 'Pneumonia_Influenza_Deaths': 5651.0, 'STATE': 'AZ', 'LATITUDE': 34.048928000000004, 'LONGITUDE': -111.093731, 'NAME': 'Arizona'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4ab'), 'Jurisdiction': 'Arkansas', 'COVID-19_Deaths': 1615.0, 'Total_Deaths': 26019.0, 'Pneumonia_Influenza_Deaths': 2321.0, 'STATE': 'AR', 'LATITUDE': 35.20105, 'LONGITUDE': -91.83183299999999, 'NAME': 'Arkansas'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4ac'), 'Jurisdiction': 'California', 'COVID-19_Deaths': 16775.0, 'Total_Deaths': 220012.0, 'Pneumonia_Influenza_Deaths': 22872.0, 'STATE': 'CA', 'LATITUDE': 36.778261, 'LONGITUDE': -119.41793200000001, 'NAME': 'California'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4ad'), 'Jurisdiction': 'Colorado', 'COVID-19_Deaths': 1951.0, 'Total_Deaths': 32230.0, 'Pneumonia_Influenza_Deaths': 2521.0, 'STATE': 'CO', 'LATITUDE': 39.550051, 'LONGITUDE': -105.782067, 'NAME': 'Colorado'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4ae'), 'Jurisdiction': 'Connecticut', 'COVID-19_Deaths': 4307.0, 'Total_Deaths': 25007.0, 'Pneumonia_Influenza_Deaths': 1963.0, 'STATE': 'CT', 'LATITUDE': 41.603221000000005, 'LONGITUDE': -73.087749, 'NAME': 'Connecticut'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4af'), 'Jurisdiction': 'Delaware', 'COVID-19_Deaths': 464.0, 'Total_Deaths': 7549.0, 'Pneumonia_Influenza_Deaths': 360.0, 'STATE': 'DE', 'LATITUDE': 38.910832, 'LONGITUDE': -75.52767, 'NAME': 'Delaware'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4b0'), 'Jurisdiction': 'District of Columbia', 'COVID-19_Deaths': 578.0, 'Total_Deaths': 4392.0, 'Pneumonia_Influenza_Deaths': 613.0, 'STATE': 'DC', 'LATITUDE': 38.905985, 'LONGITUDE': -77.03341800000001, 'NAME': 'District of Columbia'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4b1'), 'Jurisdiction': 'Florida', 'COVID-19_Deaths': 15841.0, 'Total_Deaths': 174349.0, 'Pneumonia_Influenza_Deaths': 18137.0, 'STATE': 'FL', 'LATITUDE': 27.664827000000002, 'LONGITUDE': -81.515754, 'NAME': 'Florida'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4b2'), 'Jurisdiction': 'Georgia', 'COVID-19_Deaths': 6726.0, 'Total_Deaths': 70871.0, 'Pneumonia_Influenza_Deaths': 6400.0, 'STATE': 'GA', 'LATITUDE': 32.157435, 'LONGITUDE': -82.907123, 'NAME': 'Georgia'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4b3'), 'Jurisdiction': 'Hawaii', 'COVID-19_Deaths': 144.0, 'Total_Deaths': 8660.0, 'Pneumonia_Influenza_Deaths': 413.0, 'STATE': 'HI', 'LATITUDE': 19.898682, 'LONGITUDE': -155.66585700000002, 'NAME': 'Hawaii'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4b4'), 'Jurisdiction': 'Idaho', 'COVID-19_Deaths': 434.0, 'Total_Deaths': 11197.0, 'Pneumonia_Influenza_Deaths': 470.0, 'STATE': 'ID', 'LATITUDE': 44.068202, 'LONGITUDE': -114.74204099999999, 'NAME': 'Idaho'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4b5'), 'Jurisdiction': 'Illinois', 'COVID-19_Deaths': 8703.0, 'Total_Deaths': 92098.0, 'Pneumonia_Influenza_Deaths': 9286.0, 'STATE': 'IL', 'LATITUDE': 40.633125, 'LONGITUDE': -89.398528, 'NAME': 'Illinois'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4b6'), 'Jurisdiction': 'Indiana', 'COVID-19_Deaths': 3930.0, 'Total_Deaths': 52643.0, 'Pneumonia_Influenza_Deaths': 4881.0, 'STATE': 'IN', 'LATITUDE': 40.551217, 'LONGITUDE': -85.602364, 'NAME': 'Indiana'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4b7'), 'Jurisdiction': 'Iowa', 'COVID-19_Deaths': 1556.0, 'Total_Deaths': 23875.0, 'Pneumonia_Influenza_Deaths': 1623.0, 'STATE': 'IA', 'LATITUDE': 41.878003, 'LONGITUDE': -93.097702, 'NAME': 'Iowa'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4b8'), 'Jurisdiction': 'Kansas', 'COVID-19_Deaths': 875.0, 'Total_Deaths': 21026.0, 'Pneumonia_Influenza_Deaths': 1357.0, 'STATE': 'KS', 'LATITUDE': 39.011902, 'LONGITUDE': -98.484246, 'NAME': 'Kansas'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4b9'), 'Jurisdiction': 'Kentucky', 'COVID-19_Deaths': 1344.0, 'Total_Deaths': 36706.0, 'Pneumonia_Influenza_Deaths': 3373.0, 'STATE': 'KY', 'LATITUDE': 37.839333, 'LONGITUDE': -84.27001800000001, 'NAME': 'Kentucky'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4ba'), 'Jurisdiction': 'Louisiana', 'COVID-19_Deaths': 5189.0, 'Total_Deaths': 39472.0, 'Pneumonia_Influenza_Deaths': 4089.0, 'STATE': 'LA', 'LATITUDE': 31.244822999999997, 'LONGITUDE': -92.14502399999999, 'NAME': 'Louisiana'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4bb'), 'Jurisdiction': 'Maine', 'COVID-19_Deaths': 54.0, 'Total_Deaths': 11215.0, 'Pneumonia_Influenza_Deaths': 589.0, 'STATE': 'ME', 'LATITUDE': 45.253783, 'LONGITUDE': -69.44546899999999, 'NAME': 'Maine'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4bc'), 'Jurisdiction': 'Maryland', 'COVID-19_Deaths': 4403.0, 'Total_Deaths': 43157.0, 'Pneumonia_Influenza_Deaths': 4261.0, 'STATE': 'MD', 'LATITUDE': 39.045755, 'LONGITUDE': -76.641271, 'NAME': 'Maryland'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4bd'), 'Jurisdiction': 'Massachusetts', 'COVID-19_Deaths': 8038.0, 'Total_Deaths': 50268.0, 'Pneumonia_Influenza_Deaths': 5738.0, 'STATE': 'MA', 'LATITUDE': 42.407211, 'LONGITUDE': -71.382437, 'NAME': 'Massachusetts'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4be'), 'Jurisdiction': 'Michigan', 'COVID-19_Deaths': 6582.0, 'Total_Deaths': 82475.0, 'Pneumonia_Influenza_Deaths': 7530.0, 'STATE': 'MI', 'LATITUDE': 44.314844, 'LONGITUDE': -85.602364, 'NAME': 'Michigan'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4bf'), 'Jurisdiction': 'Minnesota', 'COVID-19_Deaths': 2260.0, 'Total_Deaths': 35465.0, 'Pneumonia_Influenza_Deaths': 2668.0, 'STATE': 'MN', 'LATITUDE': 46.729553, 'LONGITUDE': -94.6859, 'NAME': 'Minnesota'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4c0'), 'Jurisdiction': 'Mississippi', 'COVID-19_Deaths': 3070.0, 'Total_Deaths': 28073.0, 'Pneumonia_Influenza_Deaths': 3397.0, 'STATE': 'MS', 'LATITUDE': 32.354668, 'LONGITUDE': -89.398528, 'NAME': 'Mississippi'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4c1'), 'Jurisdiction': 'Missouri', 'COVID-19_Deaths': 2727.0, 'Total_Deaths': 48801.0, 'Pneumonia_Influenza_Deaths': 3388.0, 'STATE': 'MO', 'LATITUDE': 37.964253, 'LONGITUDE': -91.83183299999999, 'NAME': 'Missouri'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4c2'), 'Jurisdiction': 'Montana', 'COVID-19_Deaths': 170.0, 'Total_Deaths': 7820.0, 'Pneumonia_Influenza_Deaths': 319.0, 'STATE': 'MT', 'LATITUDE': 46.879682, 'LONGITUDE': -110.36256599999999, 'NAME': 'Montana'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4c3'), 'Jurisdiction': 'Nebraska', 'COVID-19_Deaths': 543.0, 'Total_Deaths': 12804.0, 'Pneumonia_Influenza_Deaths': 844.0, 'STATE': 'NE', 'LATITUDE': 41.492537, 'LONGITUDE': -99.901813, 'NAME': 'Nebraska'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4c4'), 'Jurisdiction': 'Nevada', 'COVID-19_Deaths': 1508.0, 'Total_Deaths': 20786.0, 'Pneumonia_Influenza_Deaths': 2326.0, 'STATE': 'NV', 'LATITUDE': 38.802609999999994, 'LONGITUDE': -116.419389, 'NAME': 'Nevada'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4c5'), 'Jurisdiction': 'New Hampshire', 'COVID-19_Deaths': 403.0, 'Total_Deaths': 9810.0, 'Pneumonia_Influenza_Deaths': 480.0, 'STATE': 'NH', 'LATITUDE': 43.193852, 'LONGITUDE': -71.572395, 'NAME': 'New Hampshire'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4c6'), 'Jurisdiction': 'New Jersey', 'COVID-19_Deaths': 14264.0, 'Total_Deaths': 71265.0, 'Pneumonia_Influenza_Deaths': 10377.0, 'STATE': 'NJ', 'LATITUDE': 40.058324, 'LONGITUDE': -74.405661, 'NAME': 'New Jersey'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4c7'), 'Jurisdiction': 'New Mexico', 'COVID-19_Deaths': 706.0, 'Total_Deaths': 15026.0, 'Pneumonia_Influenza_Deaths': 1038.0, 'STATE': 'NM', 'LATITUDE': 34.97273, 'LONGITUDE': -105.03236299999999, 'NAME': 'New Mexico'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4c8'), 'Jurisdiction': 'New York', 'COVID-19_Deaths': 32914.0, 'Total_Deaths': 154918.0, 'Pneumonia_Influenza_Deaths': 24202.0, 'STATE': 'NY', 'LATITUDE': 43.299428000000006, 'LONGITUDE': -74.217933, 'NAME': 'New York'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4c9'), 'Jurisdiction': 'North Carolina', 'COVID-19_Deaths': 2716.0, 'Total_Deaths': 60402.0, 'Pneumonia_Influenza_Deaths': 4490.0, 'STATE': 'NC', 'LATITUDE': 35.759572999999996, 'LONGITUDE': -79.0193, 'NAME': 'North Carolina'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4ca'), 'Jurisdiction': 'North Dakota', 'COVID-19_Deaths': 188.0, 'Total_Deaths': 5036.0, 'Pneumonia_Influenza_Deaths': 225.0, 'STATE': 'ND', 'LATITUDE': 47.551493, 'LONGITUDE': -101.002012, 'NAME': 'North Dakota'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4cb'), 'Jurisdiction': 'Ohio', 'COVID-19_Deaths': 4939.0, 'Total_Deaths': 94223.0, 'Pneumonia_Influenza_Deaths': 6536.0, 'STATE': 'OH', 'LATITUDE': 40.417287, 'LONGITUDE': -82.907123, 'NAME': 'Ohio'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4cc'), 'Jurisdiction': 'Oklahoma', 'COVID-19_Deaths': 1429.0, 'Total_Deaths': 30000.0, 'Pneumonia_Influenza_Deaths': 2934.0, 'STATE': 'OK', 'LATITUDE': 35.007752, 'LONGITUDE': -97.092877, 'NAME': 'Oklahoma'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4cd'), 'Jurisdiction': 'Oregon', 'COVID-19_Deaths': 511.0, 'Total_Deaths': 27534.0, 'Pneumonia_Influenza_Deaths': 1150.0, 'STATE': 'OR', 'LATITUDE': 43.804133, 'LONGITUDE': -120.554201, 'NAME': 'Oregon'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4ce'), 'Jurisdiction': 'Pennsylvania', 'COVID-19_Deaths': 8775.0, 'Total_Deaths': 107079.0, 'Pneumonia_Influenza_Deaths': 8079.0, 'STATE': 'PA', 'LATITUDE': 41.203322, 'LONGITUDE': -77.194525, 'NAME': 'Pennsylvania'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4cf'), 'Jurisdiction': 'Rhode Island', 'COVID-19_Deaths': 959.0, 'Total_Deaths': 8039.0, 'Pneumonia_Influenza_Deaths': 587.0, 'STATE': 'RI', 'LATITUDE': 41.580095, 'LONGITUDE': -71.477429, 'NAME': 'Rhode Island'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4d0'), 'Jurisdiction': 'South Carolina', 'COVID-19_Deaths': 3608.0, 'Total_Deaths': 43177.0, 'Pneumonia_Influenza_Deaths': 3813.0, 'STATE': 'SC', 'LATITUDE': 33.836081, 'LONGITUDE': -81.163725, 'NAME': 'South Carolina'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4d1'), 'Jurisdiction': 'South Dakota', 'COVID-19_Deaths': 158.0, 'Total_Deaths': 6055.0, 'Pneumonia_Influenza_Deaths': 227.0, 'STATE': 'SD', 'LATITUDE': 43.969515, 'LONGITUDE': -99.901813, 'NAME': 'South Dakota'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4d2'), 'Jurisdiction': 'Tennessee', 'COVID-19_Deaths': 2709.0, 'Total_Deaths': 57441.0, 'Pneumonia_Influenza_Deaths': 4969.0, 'STATE': 'TN', 'LATITUDE': 35.517491, 'LONGITUDE': -86.58044699999999, 'NAME': 'Tennessee'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4d3'), 'Jurisdiction': 'Texas', 'COVID-19_Deaths': 17457.0, 'Total_Deaths': 170391.0, 'Pneumonia_Influenza_Deaths': 18675.0, 'STATE': 'TX', 'LATITUDE': 31.968598999999998, 'LONGITUDE': -99.901813, 'NAME': 'Texas'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4d4'), 'Jurisdiction': 'Utah', 'COVID-19_Deaths': 385.0, 'Total_Deaths': 14777.0, 'Pneumonia_Influenza_Deaths': 713.0, 'STATE': 'UT', 'LATITUDE': 39.32098, 'LONGITUDE': -111.093731, 'NAME': 'Utah'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4d5'), 'Jurisdiction': 'Vermont', 'COVID-19_Deaths': 31.0, 'Total_Deaths': 4585.0, 'Pneumonia_Influenza_Deaths': 71.0, 'STATE': 'VT', 'LATITUDE': 44.558803000000005, 'LONGITUDE': -72.577841, 'NAME': 'Vermont'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4d6'), 'Jurisdiction': 'Virginia', 'COVID-19_Deaths': 3501.0, 'Total_Deaths': 56406.0, 'Pneumonia_Influenza_Deaths': 3700.0, 'STATE': 'VA', 'LATITUDE': 37.431573, 'LONGITUDE': -78.656894, 'NAME': 'Virginia'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4d7'), 'Jurisdiction': 'Washington', 'COVID-19_Deaths': 1954.0, 'Total_Deaths': 44531.0, 'Pneumonia_Influenza_Deaths': 3333.0, 'STATE': 'WA', 'LATITUDE': 47.751073999999996, 'LONGITUDE': -120.74013899999999, 'NAME': 'Washington'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4d8'), 'Jurisdiction': 'West Virginia', 'COVID-19_Deaths': 269.0, 'Total_Deaths': 15504.0, 'Pneumonia_Influenza_Deaths': 1002.0, 'STATE': 'WV', 'LATITUDE': 38.597626, 'LONGITUDE': -80.454903, 'NAME': 'West Virginia'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4d9'), 'Jurisdiction': 'Wisconsin', 'COVID-19_Deaths': 1623.0, 'Total_Deaths': 42217.0, 'Pneumonia_Influenza_Deaths': 2241.0, 'STATE': 'WI', 'LATITUDE': 43.784440000000004, 'LONGITUDE': -88.787868, 'NAME': 'Wisconsin'}
{'_id': ObjectId('602da5ec6ceea44dd6cdf4da'), 'Jurisdiction': 'Wyoming', 'COVID-19_Deaths': 0.0, 'Total_Deaths': 3909.0, 'Pneumonia_Influenza_Deaths': 57.0, 'STATE': 'WY', 'LATITUDE': 43.075967999999996, 'LONGITUDE': -107.29028400000001, 'NAME': 'Wyoming'}